body {
  background: lightblue;
  padding-top: 20px;
}

.form-card {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
  padding: 16px;
}

ul.dropdown-menu {
  width: 100%;
  text-align: left;
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
}

.radio-buttons {
  text-align: center;
}

.radio-inline {
  margin: 0 40px;
}

.date-and-times {
  visibility: hidden;
  max-height: 0px;
  margin-bottom: 0px;
}


.post-job-btn {
  width: 100%;
}
