@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.form-card {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
  padding: 30px;
  margin-bottom: 20px;
}

.form-control {
  height: 39px;
  font-size: 18px;
}

ul.dropdown-menu {
  width: 100%;
  text-align: left;
}

ul.dropdown-menu > li > a {
  cursor: pointer;
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
  font-size: 18px;
}

.has-error {
  border-color: #a94442;
}

.btn.has-error {
  border-color: red;
}

.jobTypeDescription + .tooltip > .tooltip-inner {
  font-size: 15px;
  padding: 10px;
}

.radio-buttons {
  text-align: center;
  font-size: 18px;
}

.radio-inline {
  margin: 0 40px;
}

.form-group {
  margin-bottom: 18px;
}

.form-card-2 {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
  padding: 30px;
  margin-bottom: 20px;
  /*display: none;*/
}

.to {
  width: 5%;
}

.btn-wide {
  font-size: 18px;
  width: 100%;
  margin-bottom: 15px;
}

.btn .caret {
  margin-left: 15px;
  margin-bottom: 2px;
}

.pac-container {
  z-index: 20;
  /*position: fixed;*/
  display: inline-block;
  /*float: left;*/
  background-color: #FFF;
}

.modal {
  z-index: 20;
  font-family: 'Titillium Web', sans-serif;
}

.modal-title {
  text-align: center;
  font-size: 28px;
}

body.modal-open {
  overflow: auto;
}

.modal-backdrop {
  z-index: 10;
}​

.form-inline {
  text-align: left;
  margin: 12px auto;
}

.form-inline > .form-group {
  /*text-align: left;*/
  text-align: center;
  /*margin-right: 25px;*/
  width: 230px;
}

.form-inline > .form-group > input {
  max-width: 90%;
}

.modal-dialog {
  overflow-y: initial !important;
}

.modal-body {
  padding: 18px;
  padding-bottom: 0px;
  overflow: visible;
}

.inline {
  width: 48%;
  display: inline-block;
}

.preview-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
  padding: 18px;
  margin: 15px 0px 30px;
  border-radius: 4px;
  background-color: #f1f1f1;
  text-align: center;
  overflow: auto;
  max-height: 270px;
}

.preview-header {
  margin-bottom: 10px;
}

.glyphicon.glyphicon-pencil:hover {
  cursor: pointer;
}

.postInfo {
  padding-left: 10px;
  text-align: left;
  word-wrap: break-word;
}

.postInfo.jobDescriptionPreview {
  background-color: white;
  border-radius: 3px;
  border: 1px solid grey;
  margin: 15px 30px;
  padding: 15px;
}

.tempPostInfo {
  display: none;
}

.permPostInfo {
  display: none;
}

.postInfoLabel {
  padding-right: 10px;
  text-align: right;
  font-weight: bold;
}

.modal-footer > a {
  font-size: 16px;
  margin-left: 5px
}

.modal-footer > a:hover {
  text-decoration: none;
  cursor: pointer;
}

#authAndPostButton {
  float: right;
  font-size: 16px;
}

#registrationForm {
  text-align: left;
  border-radius: 1px solid #e5e5e5;
  padding: 15px;
  margin-top: 20px;
  border-radius: 4px;
}

#submittedModal .modal-body {
  padding: 30px;
}




.afterpost-body {
  text-align: center;
}

.carousel {
  margin-bottom: 18px;
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.carousel-inner > .item > img {
  margin: 0 auto;
  height: 400px;
}

.carousel-fade .carousel-inner .item {
  opacity: 1;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

#afterPostModal .modal-footer {
  text-align: center;
}