body {
  background: lightblue;
  padding-top: 20px;
}

.form-card {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
  padding: 30px;
  margin-bottom: 20px;
}

ul.dropdown-menu {
  width: 100%;
  text-align: left;
}

.dropdown-toggle {
  width: 100%;
  text-align: left;
}

.radio-buttons {
  text-align: center;
}

.radio-inline {
  margin: 0 40px;
}

.date-and-times {
  display: none;
  margin-bottom: 15px;
}

.form-group.date-and-times > div > .form-control {
  display: inline-block;
}

.datepicker-here {
  width: 47%;
}

.form-card-2 {
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important;
  padding: 30px;
  margin-bottom: 20px;
  /*display: none;*/
}

.time-select {
  width: 47%;
}

.to {
  width: 5%;
}

.post-job-btn {
  width: 100%;
}

.address-input {
  display: none;
  margin-bottom: 15px;
}

.districts {
  display: none;
  margin-bottom: 15px;
}

.form-inline {
  margin-bottom: 25px;
}

.form-inline > .form-group {
  max-width: 35%;
}

.form-inline > .form-group > input {
  max-width: 95%;
}
