/* Add here all your CSS customizations */

a {
  color: #FFF;
}

a:hover {
  color: #0099e6;
}

a:focus {
  color: #0099e6;
}

a:active {
  color: #0077b3;
}

.landing-top {
  margin: 0 auto;
  background: #84C5E6;
}

.screenshot-main > img {
  margin-top: 60px;
  width: 85%;
}

.landing-top h1 {
  font-size: 4vw;
  line-height: 6vw;
  color: #FFF;
  font-weight: 600;
  margin-top: 0;
  padding-top: 10vw;
  padding-bottom: 10px;
}

.landing-top h2 {
  color: #FFF;
  font-size: 2vw;
  margin: 0 0 20px 0;
}

.landing-top h2 em {
  font-family: "Shadows Into Light", cursive;
  font-size: 1.6em;
  color: #3A83A9;
}

.feature-section {
  margin: 30px auto;
  padding: 50px;
  background: #BED8DC;
}

.hire-section {
  padding: 50px;
}

.customers-section {
  padding-top: 50px;
}

.home-intro {
  background: #20485C;
}

.section.section.section-footer {
  margin-bottom: 30px;
}

.screenshot-hire > img{
  margin-top: 0;
  width: 70%;
}

.store-button {
  width: 150px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.numberCircle {
  border-radius: 50%;

  width: 30px;
  height: 30px;
  padding: 8px 12px;

  background: #0088cc;
  /*border: 2px solid #FFF;*/
  color: #FFF;
  text-align: center;
  margin-right: 5px;

  font: 20px Arial, sans-serif;
}

.instructions-bullets {
  margin-top: 40px;
  margin-bottom: 20px;
}

.instructions-text {
  margin-left: 20px;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .landing-top h1 {
    font-size: 8vw;
    line-height: 10vw;
    color: #FFF;
    font-weight: 600;
    margin-top: 0;
    padding-top: 10vw;
    padding-bottom: 10px;
  }

  .landing-top h2 {
    color: #FFF;
    font-size: 4vw;
    margin: 0 0 20px 0;
  }

  .landing-top h2 em {
    font-family: "Shadows Into Light", cursive;
    font-size: 1.6em;
    color: #3A83A9;
  }
}