<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>職神招聘 - 職神提供免費網上求職及招聘散工，兼職服務。 首獲HKICT獎項，成為香港最新最好用的求職及兼職應用程式，幫助求職人士尋找合適工作，為僱主尋找合適的求職者，大幅提高效率。 好工每日更新，求職簡單快捷， 即時登入申請心水職位。 兼職散工 · 搵工招聘首選 · 倉務 · 客服 · 零售 · 餐飲 · 推廣員·活動助理</title>
  <meta name="description" content="職神提供免費網上求職及招聘散工，兼職服務。 首獲HKICT獎項，成為香港最新最好用的求職及兼職應用程式，幫助求職人士尋找合適工作，為僱主尋找合適的求職者，大幅提高效率。 好工每日更新，求職簡單快捷， 即時登入申請心水職位。 兼職散工 · 搵工招聘首選 · 倉務 · 客服 ·  零售 · 餐飲 · 推廣員·活動助理">
  <meta name="keywords" content="你口袋裏的助手 新一代流動兼職兵團 職神 GoGENIE gogenieapp 炒散週記 快錢 散工 外快 賺錢 求職 招職 招聘 搵工 快錢 兼職 判頭 打工 炒散 蛇頭 筍工 兼職 臨時工 working holiday 工作假期 揾錢 part-time job ManPower Adecco 彈性工作 散工生涯 散工買樓夢 散工夢飛翔 炒散兼職王 自由工作 搵錢話咁易 搵錢快靚正 炒散變富豪 炒散無難度 Parttime Part time Fulltime Job Work
    Temporary Staffing Recruitment Money Salary Wage Income">
  <meta name="author" content="職神 - GoGENIE">
  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="職神 - GoGENIE">
  <meta itemprop="description" content="新一代流動兼職兵團 ">
  <meta itemprop="image" content="<%= asset_path('ogimage-facebook.jpg') %>">
  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="職神 - GoGENIE">
  <meta name="twitter:description" content="新一代流動兼職兵團 ">
  <!-- Open Graph data -->
  <meta property="og:title" content="職神 - GoGENIE" />
  <meta property="og:url" content="http://www.gogenieapp.com/" />
  <meta property="og:image" content="<%= asset_path('ogimage-linkedin.jpg') %>" />
  <!-- 180x110 Image for Linkedin -->
  <meta property="og:image:width" content="180" />
  <meta property="og:image:height" content="110" />
  <meta property="og:image" content="<%= asset_path('ogimage-facebook.jpg') %>" />
  <!-- 200x200 Image for Facebook -->
  <meta property="og:image:width" content="200" />
  <meta property="og:image:height" content="200" />
  <meta property="og:description" content="新一代流動兼職兵團" />
  <meta property="og:site_name" content="職神 - GoGENIE" />
  <!-- Favicon -->
  <link rel="shortcut icon" href="img/genie/genie-favicon.ico" type="image/x-icon" />
  <!-- <link rel="apple-touch-icon" href="img/apple-touch-icon.png"> -->
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Web Fonts  -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">
  <!-- Vendor CSS -->
  <link rel="stylesheet" href="css/vendor/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="css/vendor/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="css/vendor/simple-line-icons/css/simple-line-icons.css">
  <link rel="stylesheet" href="css/vendor/owl.carousel/assets/owl.carousel.min.css">
  <link rel="stylesheet" href="css/vendor/owl.carousel/assets/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/vendor/magnific-popup/magnific-popup.css">
  <!-- Theme CSS -->
  <link rel="stylesheet" href="css/theme.css">
  <link rel="stylesheet" href="css/theme-elements.css">
  <link rel="stylesheet" href="css/theme-blog.css">
  <link rel="stylesheet" href="css/theme-shop.css">
  <link rel="stylesheet" href="css/theme-animate.css">
  <!-- Current Page CSS -->
  <link rel="stylesheet" href="css/vendor/rs-plugin/css/settings.css" media="screen">
  <link rel="stylesheet" href="css/vendor/rs-plugin/css/layers.css" media="screen">
  <link rel="stylesheet" href="css/vendor/rs-plugin/css/navigation.css" media="screen">
  <link rel="stylesheet" href="css/vendor/circle-flip-slideshow/css/component.css" media="screen">
  <!-- Skin CSS -->
  <link rel="stylesheet" href="css/skins/default.css">
  <!-- Theme Custom CSS -->
  <link rel="stylesheet" href="css/custom.css">
  <!-- Create Post CSS -->
  <link rel="stylesheet" href="css/createpost.css">
  <link rel="stylesheet" href="css/datepicker.min.css">
  <link rel="stylesheet" href="css/timepicker.css">
  <!-- Head Libs -->
  <script src="css/vendor/modernizr/modernizr.js"></script>
  <!--[if IE]>
      <link rel="stylesheet" href="css/ie.css">
    <![endif]-->
  <!--[if lte IE 8]>
      <script src="css/vendor/respond/respond.js"></script>
      <script src="css/vendor/excanvas/excanvas.js"></script>
    <![endif]-->
</head>

<body>
  <div class="body">
    <header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>
      <div class="header-body">
        <div class="header-container container">
          <div class="header-row">
            <div class="header-column">
              <div class="header-logo">
                <a href="ch_index.html">
                  <img alt="Porto" width="269" height="100" data-sticky-width="188" data-sticky-height="70" data-sticky-top="30" src="img/genie/gogenie-logo-chi.png">
                </a>
              </div>
            </div>
            <div class="header-column">
              <div class="header-row">
                <nav class="header-nav-top">
                  <ul class="nav nav-pills">
                    <li>
                      <a href="#" class="dropdown-menu-toggle" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <img src="img/blank.gif" class="flag flag-us" alt="English" /> English
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
                        <li>
                          <a href="index.html"><img src="img/blank.gif" class="flag flag-us" alt="English" /> English</a>
                        </li>
                        <li>
                          <a href="ch_index.html"><img src="img/blank.gif" class="flag flag-hk" alt="中文" /> 中文</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="header-row">
                <div class="header-nav">
                  <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                    <i class="fa fa-bars"></i>
                  </button>
                  <ul class="header-social-icons social-icons hidden-xs">
                    <li class="social-icons-facebook"><a href="https://www.facebook.com/gogenieapp" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  </ul>
                  <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                    <nav>
                      <ul class="nav nav-pills" id="mainNav">
                        <li class="active">
                          <a href="ch_index.html" title="Hire Staff">
                              我要請人
                            </a>
                        </li>
                        <li>
                          <a href="ch_work.html">
                              我要搵錢
                            </a>
                        </li>
                        <!-- <li>
                            <a href="http://blog.gogenieapp.com/" target="_blank" title="Blog">
                              職神博客
                            </a>
                          </li> -->
                        <li>
                          <a href="#footer">
                              聯絡我們
                            </a>
                        </li>
                        <!-- <li>
                                                        <a href="http://web.gogenieapp.com/" target="_blank" onclick="_gaq.push(['_trackEvent', 'Login Button', 'Employer Log In (Chinese)">
                                                            僱主登入
                                                        </a>
                                                    </li> -->
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="row landing-top">
      <div class="container">
        <div class="col-sm-6">
          <div class="text-center headline" data-appear-animation="bounceIn" data-appear-animation-delay="200">
            <h1>令招聘 變得輕鬆</h1>
            <h2>最方便快捷的招聘平台</h2>
            <a href="https://itunes.apple.com/hk/app/genie-zhi-shen-zhao-pin-gu/id1013716062?mt=8" target="_blank" onclick="_gaq.push(['_trackEvent', 'Download Button', 'Employer App from App Store (Chinese)'])"><img src="img/genie/appstore.png" class="store-button"></a>
            <a href="https://play.google.com/store/apps/details?id=com.gogenieapp.employer" target="_blank" onclick="_gaq.push(['_trackEvent', 'Download Button', 'Employer App from Play Store (Chinese)'])"><img src="img/genie/playstore.png" class="store-button"></a>
            <br>
            <button class="btn btn-info demo-button" data-toggle="modal" onclick="_gaq.push(['_trackEvent', 'Create Job Post Button', 'Header (Chinese)'])" data-target="#createJobModal">
              刊登職位空缺!
            </button>
            <!-- <a href="https://cheungmar.typeform.com/to/cai50t" target="_blank" onclick="_gaq.push(['_trackEvent', 'Demo Button', 'Header (Chinese)'])">
              <button type="button" class="btn btn-info demo-button">安排免費示範</button>
            </a> -->
          </div>
        </div>
        <div class="col-sm-6">
          <div class="text-center screenshot-main" data-appear-animation="bounceInRight" data-appear-animation-delay="200">
            <img src="img/genie/genie-employer-landing-chi.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="home-intro" id="home-intro">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p>
              你需要搵工嗎？職神兼職幫到你！
              <span>有很多高質素的工作等緊你.</span>
            </p>
          </div>
          <div class="col-md-4">
            <div class="get-started">
              <a href="ch_work.html" class="btn btn-lg btn-primary">立刻搵工!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row center">
        <div class="col-md-12">
          <h1 class="mb-sm word-rotator-title">
              職神招聘讓你更快更方便地請到合適人選，無論你是
              <strong class="inverted">
                <span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
                  <span class="word-rotate-items">
                    <span>中小企</span>
                    <span>初創公司</span>
                    <span>大公司</span>
                    <span>個人</span>
                    <span>企業</span>
                  </span>
                </span>
              </strong>
            </h1>
          <p class="lead">
            我們將招聘流程簡化！由註冊賬號到發佈招聘，整個過程不到2分鐘！我們最快的配對時間為5分鐘，奠定業界領先地位。現在就開始招聘！
          </p>
        </div>
      </div>
    </div>
    <div class="home-concept">
      <div class="container">
        <div class="row center">
          <span class="sun"></span>
          <span class="cloud"></span>
          <div class="col-md-2 col-md-offset-1">
            <div class="process-image appear-animation" data-appear-animation="bounceIn">
              <img src="img/genie/genie-icon-post.png" alt="" />
              <strong>發佈招聘</strong>
            </div>
          </div>
          <div class="col-md-2">
            <div class="process-image appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="200">
              <img src="img/genie/genie-icon-play.png" alt="" />
              <strong>收看面試</strong>
            </div>
          </div>
          <div class="col-md-2">
            <div class="process-image appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="400">
              <img src="img/genie/genie-icon-pick.png" alt="" />
              <strong>進行選擇</strong>
            </div>
          </div>
          <div class="col-md-4 col-md-offset-1">
            <div class="project-image">
              <div id="fcSlideshow" class="fc-slideshow">
                <ul class="fc-slides">
                  <li><img class="img-responsive" src="img/genie/genie-employee1.png" alt="" /></li>
                  <li><img class="img-responsive" src="img/genie/genie-employee2.png" alt="" /></li>
                  <li><img class="img-responsive" src="img/genie/genie-employee3.png" alt="" /></li>
                  <li><img class="img-responsive" src="img/genie/genie-employee4.png" alt="" /></li>
                  <li><img class="img-responsive" src="img/genie/genie-employee5.png" alt="" /></li>
                </ul>
              </div>
              <strong class="our-work">找到合適人選!</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <hr class="tall">
      </div>
    </div>
    <div class="container customers-section">
      <div class="row center">
        <div class="col-md-12">
          <h2 class="mb-sm word-rotator-title">
              超過 100,000 名用戶同 3,000 家企業在 4 個國家使用<strong> 職神</strong>.
            </h2>
          <h4 class="heading-primary lead tall">我們的客戶</h4>
        </div>
      </div>
      <div class="row center">
        <div class="owl-carousel owl-theme" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-virginatlantic.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-marriott.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-excelsior.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-maxims.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-midlands.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-globalsources.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-kuaidadi.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-manulife.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-greenpeace.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-brooksbrother.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-deliveroo.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-honestbee.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-yeechoo.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-easyship.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-generalassembly.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-clockenflap.png" alt="">
          </div>
          <div>
            <img class="img-responsive" src="img/genie/genie-client-cosmoprof.png" alt="">
          </div>
        </div>
      </div>
    </div>
    <div class="row feature-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12 center">
            <h2 class="heading-dark">我們的<strong>特點</strong></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
              <div class="feature-box-icon">
                <i class="icon-user-following icons"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">優質員工</h4>
                <p class="mb-lg">所有職神用戶經身分證核實，還需通過心理測驗，保證優質。</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
              <div class="feature-box-icon">
                <i class="icon-social-youtube icons"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">自動網上面試</h4>
                <p class="mb-lg">播放，快進，跳過預先錄製的視頻面試，快速考核申請人的溝通能力及多國語言能力。</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
              <div class="feature-box-icon">
                <i class="icon-target icons"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">職神推薦好幫手</h4>
                <p class="mb-lg">多方面顧及你的需要，再推薦經嚴選後的合適員工。</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-md">
          <div class="col-md-4">
            <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
              <div class="feature-box-icon">
                <i class="icon-layers icons"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">工作記錄</h4>
                <p class="mb-lg">職神系統把用戶的工作經驗及專業技能等資訊標準化，以清晰易明的格式呈現於雇主面前。</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
              <div class="feature-box-icon">
                <i class="icon-star icons"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">可靠的評級系統</h4>
                <p class="mb-lg">職神平台鼓勵公平的交流, 僱主及僱員每次工作後均可以互相評價。</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
              <div class="feature-box-icon">
                <i class="icon-energy icons"></i>
              </div>
              <div class="feature-box-info">
                <h4 class="mb-sm">快速招聘</h4>
                <p class="mb-lg">簡短步驟發佈招聘，瞬間通知大量潛在員工。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container hire-section">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12 center">
          <h2 class="heading-dark">如何<strong>招聘</strong></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-sm-6">
          <div class="text-center headline">
            <div class="text-left col-sm-10 col-sm-offset-2">
              <div data-appear-animation="fadeInLeft" data-appear-animation-delay="400">
                <div class="instructions-bullets">
                  <span class="numberCircle">1</span><span class="heading-primary lead tall">下載程式</span>
                </div>
                <div class="text-center">
                  <a href="https://itunes.apple.com/hk/app/genie-zhi-shen-zhao-pin-gu/id1013716062?mt=8" target="_blank" onclick="_gaq.push(['_trackEvent', 'Download Button', 'Employer App from App Store (Chinese)'])"><img src="img/genie/appstore.png" class="store-button"></a>
                  <a href="https://play.google.com/store/apps/details?id=com.gogenieapp.employer" target="_blank" onclick="_gaq.push(['_trackEvent', 'Download Button', 'Employer App from Play Store (Chinese)'])"><img src="img/genie/playstore.png" class="store-button"></a>
                </div>
              </div>
              <div data-appear-animation="fadeInLeft" data-appear-animation-delay="600">
                <div class="instructions-bullets">
                  <span class="numberCircle">2</span><span class="heading-primary lead tall">建立帳戶</span>
                </div>
                <div class="instructions-text">
                  填寫簡單公司資料及上載公司徽標。
                </div>
              </div>
              <div data-appear-animation="fadeInLeft" data-appear-animation-delay="800">
                <div class="instructions-bullets">
                  <span class="numberCircle">3</span><span class="heading-primary lead tall">發佈招聘</span>
                </div>
                <div class="instructions-text">
                  簡短步驟發佈招聘，瞬間通知大量潛在員工
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="text-center screenshot-hire" data-appear-animation="fadeInRight" data-appear-animation-delay="200">
            <img src="img/genie/genie-profile_introduction_rating-chi.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <hr class="tall">
    </div>
  </div>
  <!-- <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 center">
              <h2 class="heading-dark">Our <strong>Pricing</strong></h2>
              <h4 class="heading-primary lead tall">We don't charge you an arm and an leg to post like other platforms and we don't have any hidden charges for contacting employees like other apps.</h4>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="pricing-table">
            <div class="col-md-4 col-sm-6">
              <div class="plan">
                <h3>Standard<span>$50</span></h3>
                <a class="btn btn-lg btn-primary" href="#">Sign up</a>
                <ul>
                  <li><strong>10GB</strong> Disk Space</li>
                  <li><strong>100GB</strong> Monthly Bandwidth</li>
                  <li><strong>20</strong> Email Accounts</li>
                  <li><strong>Unlimited</strong> subdomains</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 center">
              <div class="plan most-popular">
                <div class="plan-ribbon-wrapper"><div class="plan-ribbon">Popular</div></div>
                <h3>Professional<span>$1000</span></h3>
                <a class="btn btn-lg btn-primary" href="#">Sign up</a>
                <ul>
                  <li><strong>5GB</strong> Disk Space</li>
                  <li><strong>50GB</strong> Monthly Bandwidth</li>
                  <li><strong>10</strong> Email Accounts</li>
                  <li><strong>Unlimited</strong> subdomains</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="plan">
                <h3>Enterprise<span>20%</span></h3>
                <a class="btn btn-lg btn-primary" href="#">Sign up</a>
                <ul>
                  <li><strong>3GB</strong> Disk Space</li>
                  <li><strong>25GB</strong> Monthly Bandwidth</li>
                  <li><strong>5</strong> Email Accounts</li>
                  <li><strong>Unlimited</strong> subdomains</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <hr class="tall">
        </div>
      </div> -->
  <section class="section section-custom-map-2">
    <section class="section section-default section-footer">
      <div class="container" data-appear-animation="bounceIn" data-appear-animation-delay="200">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h2 class="heading-dark mt-xl center">僱主<strong>留言</strong></h2>
            <div class="owl-carousel owl-theme nav-bottom rounded-nav" data-plugin-options='{"items": 1, "autoplay": true, "autoplayTimeout": 7000}'>
              <div>
                <div class="col-md-12">
                  <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                    <blockquote>
                      <p>Thank you for the staff you sent us. You have done well in finding us the right people. They were all a perfect fit. I am looking forward to working with you again in the future.</p>
                    </blockquote>
                    <div class="testimonial-author">
                      <p><strong>Liz Bardelas</strong><span>CEO & Founder - JCat Beauty, California, USA</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="col-md-12">
                  <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                    <blockquote>
                      <p>When we couldn’t find any staff, GoGENIE sourced reliable workers for us every week. Thank you very much.</p>
                    </blockquote>
                    <div class="testimonial-author">
                      <p><strong>Jacky Tsui</strong><span>Manager - Marriot Hotel, Hong Kong</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="col-md-12">
                  <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                    <blockquote>
                      <p>I only know how many staff I need at 3pm so I find staff here to start work at 6pm. GoGENIE is super fast and reliable!!!</p>
                    </blockquote>
                    <div class="testimonial-author">
                      <p><strong>Tommaso Tamburnotti</strong><span>CEO & Founder - EasyShip, Hong Kong</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="col-md-12">
                  <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                    <blockquote>
                      <p>GREAT promoters! The videos helped a big deal.</p>
                    </blockquote>
                    <div class="testimonial-author">
                      <p><strong>Grace Luk</strong><span>Manager - Deliveroo, Hong Kong</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="col-md-12">
                  <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                    <blockquote>
                      <p>“Thank you for the energetic team. Good job!”</p>
                    </blockquote>
                    <div class="testimonial-author">
                      <p><strong>Phil Murphy</strong><span>Managing Director - Clockenflap, Hong Kong</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="col-md-12">
                  <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                    <blockquote>
                      <p>I flew to HK for the Franchise exhibition and needed a translator. I found Miranda via GoGENIE within 1 day. She was a lifesaver.</p>
                    </blockquote>
                    <div class="testimonial-author">
                      <p><strong>Marc Mushkin</strong><span>CEO & Founder - Carl's Jr, USA</span></p>
                    </div>
                  </div>
                </div>
              </div>
              <div>
                <div class="col-md-12">
                  <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                    <blockquote>
                      <p>Hiring made superquick! We are very pleased.</p>
                    </blockquote>
                    <div class="testimonial-author">
                      <p><strong>Phoebe Pon</strong><span>Manager - Virgin Atlantic</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-12 center">
          <h2 class="heading-dark">我們的<strong>獎項</strong></h2>
        </div>
        <div class="row">
          <div class="col-sm-4 award" data-appear-animation="fadeInUp" data-appear-animation-delay="200">
            <div class="feature-box">
              <div class="feature-box-info">
                <img class="img-responsive" src="img/genie/genie-award-hkict.jpg" alt="">
                <h4 class="heading-primary mb-none">2016香港資訊及通訊科技獎</h4>
                <p class="tall">最佳流動應用程式獎</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 award">
            <div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
              <div class="feature-box-info">
                <img class="img-responsive" src="img/genie/genie-award-hongkongbusiness.png" alt="">
                <h4 class="heading-primary mb-none">2016香港最佳初創企業</h4>
                <p class="tall">2016香港最佳初創企業</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 award">
            <div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
              <div class="feature-box-info">
                <img class="img-responsive" src="img/genie/genie-award-cocoonpitchnight.jpg" alt="">
                <h4 class="heading-primary mb-none">浩觀創業擂台決賽</h4>
                <p class="tall">冠軍及觀眾最喜愛初創企業</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 award" data-appear-animation="fadeInUp" data-appear-animation-delay="200">
            <div class="feature-box">
              <div class="feature-box-info">
                <img class="img-responsive" src="img/genie/genie-award-hksec.png" alt="">
                <h4 class="heading-primary mb-none">香港社會企業挑戰賽</h4>
                <p class="tall">香港社會企業挑戰賽 - 冠軍</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 award">
            <div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
              <div class="feature-box-info">
                <img class="img-responsive" src="img/genie/genie-award-hkfyg.jpg" alt="">
                <h4 class="heading-primary mb-none">香港青年協會</h4>
                <p class="tall">香港青年協會社創之夜 - 冠軍</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 award">
            <div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
              <div class="feature-box-info">
                <img class="img-responsive" src="img/genie/genie-award-risebreakthrough.jpg" alt="">
                <h4 class="heading-primary mb-none">RISE Breakthrough 香港</h4>
                <p class="tall">RISE Breakthrough 香港 - 決賽</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="footer-ribbon">
          <span>保持聯繫</span>
        </div>
        <div class="col-md-6">
          <h4 class="heading-primary">關於職神</h4>
          <p>職神提供免費網上求職及招聘散工，兼職服務。 首獲HKICT獎項，成為香港最新最好用的求職及兼職應用程式，幫助求職人士尋找合適工作，為僱主尋找合適的求職者，大幅提高效率。 好工每日更新，求職簡單快捷， 即時登入申請心水職位。 兼職散工 · 搵工招聘首選 · 倉務 · 客服 · 零售 · 餐飲 · 推廣員·活動助理</p>
          <hr class="light">
          <div class="contact-details">
            <ul class="contact">
              <li>
                <p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1238 國際工業大廈, 175 海濱道, 觀塘, 香港</p>
              </li>
              <li>
                <p><i class="fa fa-phone"></i> <strong>Phone:</strong> (852) 6306-3770</p>
              </li>
              <li>
                <p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:cs@gogenieapp.com">cs@gogenieapp.com</a></p>
              </li>
            </ul>
          </div>
          <br>
          <h4 class="mb-none">社交媒體</h4>
          <br>
          <ul class="header-social-icons social-icons">
            <li class="social-icons-facebook"><a href="https://www.facebook.com/gogenieapp" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li class="social-icons-twitter"><a href="https://twitter.com/gogenieapp" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="social-icons-linkedin"><a href="https://www.linkedin.com/company/gogenieapp" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
            <li class="social-icons-instagram"><a href="https://www.instagram.com/gogenieapp/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
            <li class="social-icons-google"><a href="https://plus.google.com/+Gogenieapp/" target="_blank" title="Google"><i class="fa fa-google"></i></a></li>
            <li class="social-icons-pinterest"><a href="https://www.pinterest.com/gogenieapp/" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4 class="mb-none">聯絡我們</h4>
          <p>歡迎你電郵問題或意見, 我們樂意為您解答.</p>
          <form id="contactForm" action="MAILTO:cs@gogenieapp.com" method="POST">
            <input type="hidden" value="Contact Form" name="subject" id="subject">
            <div class="row">
              <div class="form-group">
                <div class="col-md-6">
                  <label>名稱 *</label>
                  <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
                </div>
                <div class="col-md-6">
                  <label>電郵地址 *</label>
                  <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group">
                <div class="col-md-12">
                  <label>信息 *</label>
                  <textarea maxlength="5000" data-msg-required="Please enter your message." rows="2" class="form-control" name="message" id="message" required></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <input type="submit" value="Send Message" class="btn btn-primary mb-xl" data-loading-text="Loading...">
              </div>
              <div class="col-md-8">
                <div class="alert alert-success hidden" id="contactSuccess">
                  Message has been sent to us.
                </div>
                <div class="alert alert-danger hidden" id="contactError">
                  Error sending your message.
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <p>© 2016 CRAMCLUB COMPANY LIMITED. All Rights Reserved.</p>
          </div>
          <div class="col-md-4">
            <nav id="sub-menu">
              <ul>
                <!-- <li><a href="#">FAQ</a></li> -->
                <li><a href="tnc.html">法律及私隱聲明</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </footer>
  </div>
  <!-- CREATE JOB MODAL -->
  <div id="createJobModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
          <h4 class="modal-title">刊登職位空缺 (1/2)</h4>
        </div>
        <div class="modal-body">
          <form data-toggle="validator" role="form" id="firstSecForm">
            <div class="row">
              <div class="col-xs-7">
                <div class="form-group">
                  <label for="jobPosition">工作職位</label>
                  <input type="text" class="form-control" id="jobPosition" placeholder="請填寫工作職位" data-categorize="true" maxlength='2500' required>
                </div>
              </div>
              <div class="col-xs-5">
                <div class="form-group">
                  <label for="jobCategory">工作類別</label>
                  <div class="dropdown jobCategoryDropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="jobCategory">
                      請選擇工作類別
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="jobCategory">
                      <li><a>健康美容</a></li>
                      <li><a>文職助理</a></li>
                      <li><a>展覽活動</a></li>
                      <li><a>酒店飲食</a></li>
                      <li><a>物流運輸</a></li>
                      <li><a>維修清潔</a></li>
                      <li><a>專業服務</a></li>
                      <li><a>零售銷售</a></li>
                      <li><a>其他行業</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-7">
                <div class="form-group">
                  <label for="addressInput">工作位置</label>
                  <input type="text" class="form-control address-input" id="addressInput" placeholder="請填寫工作地址" data-districts="true" data-error="請填寫此格" required>
                  <div class="help-block with-errors location-help"></div>
                </div>
              </div>
              <div class="col-xs-5">
                <div class="form-group">
                  <label for="district">工作地區</label>
                  <div class="dropdown districtsDropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="district">請選擇地區
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="districts">
                      <li><a>中西區</a></li>
                      <li><a>東區</a></li>
                      <li><a>南區</a></li>
                      <li><a>灣仔區</a></li>
                      <li><a>深水埗區</a></li>
                      <li><a>九龍城區</a></li>
                      <li><a>觀塘區</a></li>
                      <li><a>黃大仙區</a></li>
                      <li><a>油尖旺區</a></li>
                      <li><a>離島區</a></li>
                      <li><a>葵青區</a></li>
                      <li><a>北區</a></li>
                      <li><a>西貢區</a></li>
                      <li><a>沙田區</a></li>
                      <li><a>大埔區</a></li>
                      <li><a>荃灣區</a></li>
                      <li><a>屯門區</a></li>
                      <li><a>元朗區</a></li>
                      <li><a>其他</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group radio-buttons">
              <span class="jobTypeDescription" data-toggle="tooltip" data-placement="top" title="這種職位是僱用一次性工人和臨時工作人員。">
                <label class="radio-inline"><input type="radio" id="jobType" name="jobType" required>臨時工作</label>
              </span>
              <span class="jobTypeDescription" data-toggle="tooltip" data-placement="top" title="這種類型的職位是僱用自由職業者，兼職或全職工作人員。">
                <label class="radio-inline"><input type="radio" name="jobType" required>固定工作</label>
              </span>
            </div>
            <div class="form-group">
              <textarea class="form-control" id="jobDescription" placeholder="請填寫工作描述" rows="4" required></textarea>
            </div>
            <button type="submit" id="continueButton" class="btn btn-success btn-wide" aria-hidden="true">
              下頁
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- // CREATE JOB MODAL -->
  <!-- TEMP JOB MODAL -->
  <div id="temporaryJobModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
          <h4 class="modal-title">刊登職位空缺 (2/2)</h4>
        </div>
        <div class="modal-body">
          <form data-toggle="validator" role="form" id="tempSecForm">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-4">
                  <label for="positionsAvailable">工作人數</label>
                  <input type="number" class="form-control" id="positionsAvailable" placeholder="請填寫工作人數" required>
                </div>
                <div class="col-xs-4">
                  <label for="positionsAvailable">工作時薪 (HKD)</label>
                  <input type="number" class="form-control" id="hourlyRateInput" placeholder="請填寫工作時薪" required>
                </div>
                <div class="col-xs-4">
                  <label for="paymentMethod">出糧方式</label>
                  <div class="dropdown paymentMethodDropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="paymentMethod">
                      請選擇出糧方式
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="paymentMethod">
                      <li><a>現金支付</a></li>
                      <li><a>支票支付</a></li>
                      <li><a>銀行過數</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group date-and-times">
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    <label>開始日期</label>
                    <input type="text" class="datepicker-here form-control" placeholder="請選擇開始日期" required/>
                  </div>
                  <div class="col-xs-6">
                    <label>工作日數</label>
                    <input type="number" class="form-control" id="days" placeholder="請選擇工作日數" required/>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="row">
                  <div class="col-xs-6">
                    <label>開始時間</label>
                    <input type="text" autocomplete="off" placeholder="請選擇開始時間" class="form-control time-select" required/>
                  </div>
                  <div class="col-xs-6">
                    <label>完結時間</label>
                    <input type="text" placeholder="請選擇完結時間" disabled class="form-control time-select" required/>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <button class="btn btn-warning btn-wide" aria-hidden="true" data-dismiss="modal" data-toggle="modal" data-target="#createJobModal">
                  返回
                </button>
              </div>
              <div class="col-xs-8">
                <button type="submit" class="preview-job-btn btn btn-success btn-wide" aria-hidden="true">
                  刊登工作
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- // TEMP JOB MODAL -->
  <!-- PERM JOB MODAL -->
  <div id="permanentJobModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
          <h4 class="modal-title">刊登職位空缺 (2/2)</h4>
        </div>
        <div class="modal-body">
          <form data-toggle="validator" role="form" id="permSecForm">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-6">
                  <label>工作薪金 (HKD)</label>
                  <input type="number" class="form-control" id="salaryInput" placeholder="請填寫工作薪金" required>
                </div>
                <div class="col-xs-6">
                  <label>薪金範圍</label>
                  <input type="number" class="form-control" id="salaryRange" placeholder="請填寫薪金範圍">
                </div>
              </div>
            </div>
            <div class="form-group radio-buttons">
              <label class="radio-inline">
                <input type="radio" id="salaryUnit" name="salaryUnit" required>月薪</label>
              <label class="radio-inline">
                <input type="radio" name="salaryUnit" required>週薪</label>
              <label class="radio-inline">
                <input type="radio" name="salaryUnit" required>日薪</label>
              <label class="radio-inline">
                <input type="radio" name="salaryUnit" required>時薪</label>
            </div>
            <div class="row">
              <div class="col-xs-4">
                <button class="btn btn-warning btn-wide" aria-hidden="true" data-dismiss="modal" data-toggle="modal" data-target="#createJobModal">
                  返回
                </button>
              </div>
              <div class="col-xs-8">
                <button type="submit" class="preview-job-btn btn btn-success btn-wide" aria-hidden="true">
                  刊登工作
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- // PERM JOB MODAL -->
  <!-- AUTH MODAL -->
  <div id="signInModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
          <h4 class="modal-title">請登入帳戶完成刊登工作</h4>
        </div>
        <form data-toggle="validator" role="form" id="signUpForm">
          <div class="modal-body">
            <div class="preview-card">
              <h5 class="preview-header">
                  工作資料
                  <span class="glyphicon glyphicon-pencil" data-dismiss="modal" data-target="#createJobModal" data-toggle="modal"></span>
                </h5>
              <div class="row">
                <div class="col-xs-4 postInfoLabel">工作職位:</div>
                <div class="col-xs-8 postInfo">placeholder</div>
              </div>
              <div class="row">
                <div class="col-xs-4 postInfoLabel">工作類別:</div>
                <div class="col-xs-8 postInfo">placeholder</div>
              </div>
              <div class="row">
                <div class="col-xs-4 postInfoLabel">工作類型:</div>
                <div class="col-xs-8 postInfo">placeholder</div>
              </div>
              <div class="row">
                <div class="col-xs-4 postInfoLabel">工作描述:</div>
                <div class="col-xs-8 postInfo">placeholder</div>
              </div>
              <div class="row">
                <div class="col-xs-4 postInfoLabel">工作地址:</div>
                <div class="col-xs-8 postInfo">placeholder</div>
              </div>
              <div class="row">
                <div class="col-xs-4 postInfoLabel">工作地區:</div>
                <div class="col-xs-8 postInfo">placeholder</div>
              </div>
              <div class="row tempPostInfo">
                <div class="col-xs-4 postInfoLabel">工作時薪</div>
                <div class="col-xs-8 postInfo">placeholder</div>
              </div>
              <div class="row tempPostInfo">
                <div class="col-xs-4 postInfoLabel">出糧方式</div>
                <div class="col-xs-8 postInfo">placeholder</div>
              </div>
              <div class="row tempPostInfo">
                <div class="col-xs-4 postInfoLabel">工作人數:</div>
                <div class="col-xs-8 postInfo">placeholder</div>
              </div>
              <div class="row tempPostInfo">
                <div class="col-xs-4 postInfoLabel">開始日期:</div>
                <div class="col-xs-8 postInfo">placeholder</div>
              </div>
              <div class="row tempPostInfo">
                <div class="col-xs-4 postInfoLabel">工作日數:</div>
                <div class="col-xs-8 postInfo">placeholder</div>
              </div>
              <div class="row tempPostInfo">
                <div class="col-xs-4 postInfoLabel">工作時間:</div>
                <div class="col-xs-8 postInfo">placeholder</div>
              </div>
              <div class="row permPostInfo">
                <div class="col-xs-4 postInfoLabel">工作薪金:</div>
                <div class="col-xs-8 postInfo">placeholder</div>
              </div>
              <div class="row permPostInfo">
                <div class="col-xs-4 postInfoLabel">薪金範圍:</div>
                <div class="col-xs-8 postInfo">N/A</div>
              </div>
              <div class="row permPostInfo">
                <div class="col-xs-4 postInfoLabel">薪金單位:</div>
                <div class="col-xs-8 postInfo">placeholder</div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-xs-6">
                <label for="inputEmail" class="sr-only">
                  電郵地址
                </label>
                <input type="email" class="form-control" id="inputEmail" placeholder="電郵地址" data-error="必需填寫有效的電郵" required>
                <div class="help-block with-errors email-help"></div>
              </div>
              <div class="form-group col-xs-6">
                <label for="inputPassword" class="sr-only">
                  輸入密碼
                </label>
                <input type="password" data-minlength="8" class="form-control" id="inputPassword" data-error="密碼太短" placeholder="輸入密碼" required>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="row collapse" id="registrationDetails">
              <div class="form-group col-xs-6">
                <label for="inputCompanyName" class="sr-only">
                  公司名稱
                </label>
                <input type="text" class="form-control" id="inputCompanyName" placeholder="公司名稱">
              </div>
              <div class="form-group col-xs-6">
                <label for="inputPhone" class="sr-only">
                  聯絡電話
                </label>
                <input type="number" class="form-control" id="inputPhone" placeholder="聯絡電話" data-minlength='8' maxlength='8' data-error="請輸入有效的8位數香港電話號碼">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>
          <div class="modal-footer" style="text-align: left;">
            <a href="#" data-toggle="collapse" data-target="#registrationDetails" style="color: #0088cc;">
                未有帳戶? 建立新帳戶
              </a>
            <button type="submit" class="btn btn-info" id="authAndPostButton">
              完成刊登工作
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--// AUTH MODAL -->

  <div id="submittedModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <h3 class="postSubmitted">
            請等等！我們正在處理你的資料
          </h3>
        </div>
        <div class="modal-footer">
          <button type="submit" id="okayButton" class="btn btn-success btn-wide" aria-hidden="true">
            關閉
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- AFTERPOST MODAL -->
  <div id="afterPostModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
          <h4 class="modal-title">
              工作刊登成功!
            </h4>
        </div>
        <div class="modal-body afterpost-body">
          <div id="instruction-carousel" class="carousel slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="img/ch-after-post-instruction1.png" alt="Feed">
              </div>
              <div class="item">
                <img src="img/ch-after-post-instruction2.png" alt="Company Profile">
              </div>
              <div class="item">
                <img src="img/ch-after-post-instruction3.png" alt="Notification">
              </div>
              <div class="item">
                <img src="img/ch-after-post-instruction4.png" alt="Candidate Profile">
              </div>
            </div>
            <a class="left carousel-control" href="#instruction-carousel" role="button" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#instruction-carousel" role="button" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="modal-footer">
          <a href="https://itunes.apple.com/hk/app/genie-zhi-shen-zhao-pin-gu/id1013716062?mt=8" target="_blank" onclick="_gaq.push(['_trackEvent', 'Download Button', 'Employer App from App Store (English)'])"><img src="img/genie/appstore.png" class="store-button"></a>
          <a href="https://play.google.com/store/apps/details?id=com.gogenieapp.employer" target="_blank" onclick="_gaq.push(['_trackEvent', 'Download Button', 'Employer App from Play Store (English)'])"><img src="img/genie/playstore.png" class="store-button"></a>
        </div>
      </div>
    </div>
  </div>
  <!-- // AFTERPOST MODAL -->
  <!-- Vendor -->
  <!--[if lt IE 9]>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <![endif]-->
  <!--[if gte IE 9]><!-->
  <script src="css/vendor/jquery/jquery.js"></script>
  <!--<![endif]-->
  <script src="css/vendor/jquery.appear/jquery.appear.js"></script>
  <script src="css/vendor/jquery.easing/jquery.easing.js"></script>
  <script src="css/vendor/jquery-cookie/jquery-cookie.js"></script>
  <script src="css/vendor/bootstrap/js/bootstrap.js"></script>
  <script src="css/vendor/common/common.js"></script>
  <script src="css/vendor/jquery.validation/jquery.validation.js"></script>
  <script src="css/vendor/jquery.stellar/jquery.stellar.js"></script>
  <script src="css/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
  <script src="css/vendor/jquery.gmap/jquery.gmap.js"></script>
  <script src="css/vendor/jquery.lazyload/jquery.lazyload.js"></script>
  <script src="css/vendor/isotope/jquery.isotope.js"></script>
  <script src="css/vendor/owl.carousel/owl.carousel.js"></script>
  <script src="css/vendor/magnific-popup/jquery.magnific-popup.js"></script>
  <script src="css/vendor/vide/vide.js"></script>
  <!-- Theme Base, Components and Settings -->
  <script src="js/theme.js"></script>
  <!-- Specific Page Vendor and Views -->
  <script src="css/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script src="css/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script src="css/vendor/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
  <script src="css/vendor/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
  <script src="css/vendor/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
  <script src="css/vendor/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script src="css/vendor/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
  <script src="css/vendor/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
  <script src="css/vendor/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
  <script src="css/vendor/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script src="css/vendor/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>
  <script src="css/vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
  <script src="js/views/view.home.js"></script>
  <!-- Theme Custom -->
  <script src="js/custom.js"></script>
  <!-- Create Post Related Scripts -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwgejdknqxK_7RDtdus9aVE2lzKrUeW5M&libraries=places"></script>
  <script src="js/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="js/datepicker/datepicker.min.js"></script>
  <script src="js/datepicker/timepicker.min.js"></script>
  <script src="js/datepicker/ch.js"></script>
  <script src="js/ch_createpost.js"></script>
  <!-- Theme Initialization Files -->
  <script src="js/theme.init.js"></script>
  <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-64263788-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
  </script>
</body>

</html>
