<!DOCTYPE html>
<html>
  <head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>職神招聘 GENIE Staffing Solution</title>

    <meta name="description" content="GENIE combats the headache of hiring temporary workers. Our mobile app provides a platform for employers to post and hire a temporary worker in as fast as 5 minutes. GENIE eliminates market inefficiency and offers businesses quality temporary workers.  Our vision at GENIE is to become the global platform for all work placements where employers and job seekers can hire or work for anyone, anywhere, any time.">
    <meta name="keywords" content="你口袋裏的助手 新一代流動兼職兵團 職神 Genie gogenieapp 炒散週記 快錢 散工 外快 賺錢 求職 招職 招聘 搵工 快錢 兼職 判頭 打工 炒散 蛇頭 筍工 兼職 臨時工 working holiday 工作假期 揾錢 part-time job ManPower Adecco 彈性工作 散工生涯 散工買樓夢 散工夢飛翔 炒散兼職王 自由工作 搵錢話咁易 搵錢快靚正 炒散變富豪 炒散無難度 Parttime Part time Fulltime Job Work
    Temporary Staffing Recruitment Money Salary Wage Income">
    <meta name="author" content="職神 - Genie">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="職神 - Genie">
    <meta itemprop="description" content="新一代流動兼職兵團 ">
    <meta itemprop="image" content="<%= asset_path('ogimage-facebook.jpg') %>">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="職神 - Genie">
    <meta name="twitter:description" content="新一代流動兼職兵團 ">

    <!-- Open Graph data -->
    <meta property="og:title" content="職神 - Genie" />
    <meta property="og:url" content="http://www.gogenieapp.com/" />
    <meta property="og:image" content="<%= asset_path('ogimage-linkedin.jpg') %>" /> <!-- 180x110 Image for Linkedin -->
    <meta property="og:image:width" content="180" />
    <meta property="og:image:height" content="110" />
    <meta property="og:image" content="<%= asset_path('ogimage-facebook.jpg') %>" /> <!-- 200x200 Image for Facebook -->
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:description" content="新一代流動兼職兵團" />
    <meta property="og:site_name" content="職神 - Genie" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/genie/genie-favicon.ico" type="image/x-icon" />
    <!-- <link rel="apple-touch-icon" href="img/apple-touch-icon.png"> -->

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/theme-elements.css">
    <link rel="stylesheet" href="css/theme-blog.css">
    <link rel="stylesheet" href="css/theme-shop.css">
    <link rel="stylesheet" href="css/theme-animate.css">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="vendor/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" href="vendor/rs-plugin/css/layers.css" media="screen">
    <link rel="stylesheet" href="vendor/rs-plugin/css/navigation.css" media="screen">

    <link rel="stylesheet" href="vendor/circle-flip-slideshow/css/component.css" media="screen">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Head Libs -->
    <script src="vendor/modernizr/modernizr.js"></script>

    <!--[if IE]>
      <link rel="stylesheet" href="css/ie.css">
    <![endif]-->

    <!--[if lte IE 8]>
      <script src="vendor/respond/respond.js"></script>
      <script src="vendor/excanvas/excanvas.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="body">
      <header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>
        <div class="header-body">
          <div class="header-container container">
            <div class="header-row">
              <div class="header-column">
                <div class="header-logo">
                  <a href="ch_index.html">
                    <img alt="Porto" width="158" height="100" data-sticky-width="87" data-sticky-height="50" data-sticky-top="50" src="img/genie/genie-logo_chi.png">
                  </a>
                </div>
              </div>
              <div class="header-column">
                <div class="header-row">
                  <nav class="header-nav-top">
                    <ul class="nav nav-pills">
                      <li>
                        <a href="#" class="dropdown-menu-toggle" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <img src="img/blank.gif" class="flag flag-us" alt="English" /> English
                          <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
                          <li><a href="index.html"><img src="img/blank.gif" class="flag flag-us" alt="English" /> English</a></li>
                          <li><a href="ch_index.html"><img src="img/blank.gif" class="flag flag-hk" alt="中文" /> 中文</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="header-row">
                  <div class="header-nav">
                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                      <i class="fa fa-bars"></i>
                    </button>
                    <ul class="header-social-icons social-icons hidden-xs">
                      <li class="social-icons-facebook"><a href="https://www.facebook.com/gogenieapp" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                    <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                      <nav>
                        <ul class="nav nav-pills" id="mainNav">
                          <li class="active">
                            <a href="ch_index.html" title="Hire Staff">
                              我要請人
                            </a>
                          </li>
                          <li>
                            <a href="ch_work.html">
                              我要搵錢
                            </a>
                          </li>
                          <li>
                            <a href="http://blog.gogenieapp.com/" target="_blank" title="Blog">
                              職神博客
                            </a>
                          </li>
                          <li>
                            <a href="#footer">
                              聯絡我們
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="row landing-top">
        <div class="container">
          <div class="col-sm-6">
            <div class="text-center headline" data-appear-animation="bounceIn" data-appear-animation-delay="200">
              <h1>令招聘 變得輕鬆</h1>
              <h2>最方便快捷的招聘平台</h2>
              <a href="https://itunes.apple.com/hk/app/genie-zhi-shen-zhao-pin-gu/id1013716062?mt=8" target="_blank"><img src="img/genie/appstore.png" class="store-button"></a>
              <a href="https://play.google.com/store/apps/details?id=com.gogenieapp.employer" target="_blank"><img src="img/genie/playstore.png" class="store-button"></a>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="text-center screenshot-main" data-appear-animation="bounceInRight" data-appear-animation-delay="200">
              <img src="img/genie/genie-employer-landing-chi.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="home-intro" id="home-intro">
        <div class="container">

          <div class="row">
            <div class="col-md-8">
              <p>
                你需要搵工嗎？職神兼職幫到你！
                <span>有很多高質素的工作等緊你.</span>
              </p>
            </div>
            <div class="col-md-4">
              <div class="get-started">
                <a href="ch_work.html" class="btn btn-lg btn-primary">立刻搵工!</a>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="row center">
          <div class="col-md-12">
            <h1 class="mb-sm word-rotator-title">
              職神招聘讓你更快更方便地請到合適人選，無論你是
              <strong class="inverted">
                <span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
                  <span class="word-rotate-items">
                    <span>中小企</span>
                    <span>初創</span>
                    <span>大公司</span>
                    <span>個人</span>
                    <span>企業</span>
                  </span>
                </span>
              </strong>
            </h1>
            <p class="lead">
              我們將招聘過程簡化！由註冊賬號到發布招聘，整個過程不到2分.我們最快的匹配時間為5分鐘業界領先地位。找出你怎麼能現在發現你的臨時工作人員！
            </p>
          </div>
        </div>
      </div>

      <div class="home-concept">
        <div class="container">

          <div class="row center">
            <span class="sun"></span>
            <span class="cloud"></span>
            <div class="col-md-2 col-md-offset-1">
              <div class="process-image appear-animation" data-appear-animation="bounceIn">
                <img src="img/genie/genie-icon-post.png" alt="" />
                <strong>發布招聘</strong>
              </div>
            </div>
            <div class="col-md-2">
              <div class="process-image appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="200">
                <img src="img/genie/genie-icon-play.png" alt="" />
                <strong>收看面試</strong>
              </div>
            </div>
            <div class="col-md-2">
              <div class="process-image appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="400">
                <img src="img/genie/genie-icon-pick.png" alt="" />
                <strong>進行選擇</strong>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <div class="project-image">
                <div id="fcSlideshow" class="fc-slideshow">
                  <ul class="fc-slides">
                    <li><img class="img-responsive" src="img/genie/genie-employee1.png" alt="" /></li>
                    <li><img class="img-responsive" src="img/genie/genie-employee2.png" alt="" /></li>
                    <li><img class="img-responsive" src="img/genie/genie-employee3.png" alt="" /></li>
                    <li><img class="img-responsive" src="img/genie/genie-employee4.png" alt="" /></li>
                    <li><img class="img-responsive" src="img/genie/genie-employee5.png" alt="" /></li>
                  </ul>
                </div>
                <strong class="our-work">找到合適人選!</strong>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="row">
          <hr class="tall">
        </div>
      </div>

      <div class="container customers-section">
        <div class="row center">
          <div class="col-md-12">
            <h2 class="mb-sm word-rotator-title">
              超過 30,000 名用戶同 1000 家企業在 4 個國家使用<strong> 職神</strong>.
            </h2>
            <h4 class="heading-primary lead tall">我們的客戶.</h4>
          </div>
        </div>

        <div class="row center">
          <div class="owl-carousel owl-theme" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-virginatlantic.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-marriott.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-excelsior.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-maxims.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-midlands.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-greenpeace.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-brooksbrother.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-deliveroo.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-yeechoo.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-easyship.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-clockenflap.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-cosmoprof.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="row feature-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12 center">
              <h2 class="heading-dark">我們的<strong>特點</strong></h2>
            </div>
          </div>

            <div class="row">
              <div class="col-md-4">
                <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                  <div class="feature-box-icon">
                    <i class="icon-user-following icons"></i>
                  </div>
                  <div class="feature-box-info">
                    <h4 class="mb-sm">優質員工</h4>
                    <p class="mb-lg">所有職神僱員經身分證核實，保證優質，員工還需進行心理測驗.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                  <div class="feature-box-icon">
                    <i class="icon-social-youtube icons"></i>
                  </div>
                  <div class="feature-box-info">
                    <h4 class="mb-sm">自動網上面試</h4>
                    <p class="mb-lg">播放，快進，跳過預先錄製的視頻採訪，展現在英語普通話和粵語的申請人的溝通能力.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                  <div class="feature-box-icon">
                    <i class="icon-target icons"></i>
                  </div>
                  <div class="feature-box-info">
                    <h4 class="mb-sm">職神推薦好幫手</h4>
                    <p class="mb-lg">多方面顧及你的需要，再推薦經嚴選後的合適職神.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-md">
              <div class="col-md-4">
                <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                  <div class="feature-box-icon">
                    <i class="icon-layers icons"></i>
                  </div>
                  <div class="feature-box-info">
                    <h4 class="mb-sm">工作記錄</h4>
                    <p class="mb-lg">我們把他們所有的工作經驗和技能，簡化的個人資料， 在我們的平台上標準化.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                  <div class="feature-box-icon">
                    <i class="icon-star icons"></i>
                  </div>
                  <div class="feature-box-info">
                    <h4 class="mb-sm">可靠的評級系統</h4>
                    <p class="mb-lg">我們鼓勵公平的交流的平台, 僱主同僱員每次工作後可以互相評語.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                  <div class="feature-box-icon">
                    <i class="icon-energy icons"></i>
                  </div>
                  <div class="feature-box-info">
                    <h4 class="mb-sm">快速招聘</h4>
                    <p class="mb-lg">簡短步驟發布招聘，瞬間通知大量潛在員工.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container hire-section">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 center">
              <h2 class="heading-dark">如何<strong>聘請</strong></h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="col-sm-6">
              <div class="text-center headline">
                <div class="text-left col-sm-10 col-sm-offset-2">
                  <div data-appear-animation="fadeInLeft" data-appear-animation-delay="400">
                    <div class="instructions-bullets">
                      <span class="numberCircle">1</span><span class="heading-primary lead tall">下載程式</span>
                    </div>
                    <div class="text-center">
                      <a href="https://itunes.apple.com/hk/app/genie-zhi-shen-zhao-pin-gu/id1013716062?mt=8" target="_blank"><img src="img/genie/appstore.png" class="store-button"></a>
                      <a href="https://play.google.com/store/apps/details?id=com.gogenieapp.employer" target="_blank"><img src="img/genie/playstore.png" class="store-button"></a>
                    </div>
                  </div>
                  <div data-appear-animation="fadeInLeft" data-appear-animation-delay="600">
                    <div class="instructions-bullets">
                      <span class="numberCircle">2</span><span class="heading-primary lead tall">建立帳戶</span>
                    </div>
                    <div class="instructions-text">
                      填寫簡單公司資料同上載公司徽標.
                    </div>
                  </div>
                  <div data-appear-animation="fadeInLeft" data-appear-animation-delay="800">
                    <div class="instructions-bullets">
                      <span class="numberCircle">3</span><span class="heading-primary lead tall">發布招聘</span>
                    </div>
                    <div class="instructions-text">
                      簡短步驟發布招聘，瞬間通知大量潛在員工
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="text-center screenshot-hire" data-appear-animation="fadeInRight" data-appear-animation-delay="200">
                <img src="img/genie/genie-profile_introduction_rating-chi.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <hr class="tall">
        </div>
      </div>

      <!-- <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 center">
              <h2 class="heading-dark">Our <strong>Pricing</strong></h2>
              <h4 class="heading-primary lead tall">We don't charge you an arm and an leg to post like other platforms and we don't have any hidden charges for contacting employees like other apps.</h4>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="pricing-table">
            <div class="col-md-4 col-sm-6">
              <div class="plan">
                <h3>Standard<span>$50</span></h3>
                <a class="btn btn-lg btn-primary" href="#">Sign up</a>
                <ul>
                  <li><strong>10GB</strong> Disk Space</li>
                  <li><strong>100GB</strong> Monthly Bandwidth</li>
                  <li><strong>20</strong> Email Accounts</li>
                  <li><strong>Unlimited</strong> subdomains</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 center">
              <div class="plan most-popular">
                <div class="plan-ribbon-wrapper"><div class="plan-ribbon">Popular</div></div>
                <h3>Professional<span>$1000</span></h3>
                <a class="btn btn-lg btn-primary" href="#">Sign up</a>
                <ul>
                  <li><strong>5GB</strong> Disk Space</li>
                  <li><strong>50GB</strong> Monthly Bandwidth</li>
                  <li><strong>10</strong> Email Accounts</li>
                  <li><strong>Unlimited</strong> subdomains</li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="plan">
                <h3>Enterprise<span>20%</span></h3>
                <a class="btn btn-lg btn-primary" href="#">Sign up</a>
                <ul>
                  <li><strong>3GB</strong> Disk Space</li>
                  <li><strong>25GB</strong> Monthly Bandwidth</li>
                  <li><strong>5</strong> Email Accounts</li>
                  <li><strong>Unlimited</strong> subdomains</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <hr class="tall">
        </div>
      </div> -->

      <section class="section section-custom-map-2">
        <section class="section section-default section-footer">
          <div class="container" data-appear-animation="bounceIn" data-appear-animation-delay="200">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
              <h2 class="heading-dark mt-xl center">僱主<strong>留言</strong></h2>
                <div class="owl-carousel owl-theme nav-bottom rounded-nav" data-plugin-options='{"items": 1, "autoplay": true, "autoplayTimeout": 7000}'>
                  <div>
                    <div class="col-md-12">
                      <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                          <p>Thank you for the staff you sent us. You have done well in finding us the right people. They were all a perfect fit. I am looking forward to working with you again in the future.</p>
                        </blockquote>
                        <div class="testimonial-author">
                          <p><strong>Liz Bardelas</strong><span>CEO & Founder - JCat Beauty, California, USA</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="col-md-12">
                      <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                          <p>When we couldn’t find any staff, Genie sourced reliable workers for us every week. Thank you very much.</p>
                        </blockquote>
                        <div class="testimonial-author">
                          <p><strong>Jacky Tsui</strong><span>Manager - Marriot Hotel, Hong Kong</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="col-md-12">
                      <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                          <p>I only know how many staff I need at 3pm so I find staff here to start work at 6pm. Genie is super fast and reliable!!!</p>
                        </blockquote>
                        <div class="testimonial-author">
                          <p><strong>Tommaso Tamburnotti</strong><span>CEO & Founder - EasyShip, Hong Kong</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="col-md-12">
                      <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                          <p>GREAT promoters! The videos helped a big deal.</p>
                        </blockquote>
                        <div class="testimonial-author">
                          <p><strong>Grace Luk</strong><span>Manager - Deliveroo, Hong Kong</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="col-md-12">
                      <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                          <p>“Thank you for the energetic team. Good job!”</p>
                        </blockquote>
                        <div class="testimonial-author">
                          <p><strong>Phil Murphy</strong><span>Managing Director - Clockenflap, Hong Kong</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="col-md-12">
                      <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                          <p>I flew to HK for the Franchise exhibition and needed a translator. I found Miranda via GENIE within 1 day. She was a lifesaver.</p>
                        </blockquote>
                        <div class="testimonial-author">
                          <p><strong>Marc Mushkin</strong><span>CEO & Founder - Carl's Jr, USA</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="col-md-12">
                      <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                          <p>Hiring made superquick! We are very pleased.</p>
                        </blockquote>
                        <div class="testimonial-author">
                          <p><strong>Phoebe Pon</strong><span>Manager - Virgin Atlantic</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 center">
              <h2 class="heading-dark">我們的<strong>獎項</strong></h2>
            </div>
            <div class="row">
              <div class="col-sm-4" data-appear-animation="fadeInUp" data-appear-animation-delay="200">
                <div class="feature-box">
                  <div class="feature-box-info">
                    <img class="img-responsive" src="img/genie/genie-award-hksec.png" alt="">
                    <h4 class="heading-primary mb-none">香港社會企業挑戰賽</h4>
                    <p class="tall">香港社會企業挑戰賽 - 冠軍</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
                  <div class="feature-box-info">
                    <img class="img-responsive" src="img/genie/genie-award-hkfyg.jpg" alt="">
                    <h4 class="heading-primary mb-none">香港青年協會</h4>
                    <p class="tall">香港青年協會社創之夜 - 冠軍</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                  <div class="feature-box-info">
                    <img class="img-responsive" src="img/genie/genie-award-risebreakthrough.jpg" alt="">
                    <h4 class="heading-primary mb-none">RISE Breakthrough Hong Kong</h4>
                    <p class="tall">Finalist of the RISE Breakthrough Hong Kong.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="footer-ribbon">
              <span>保持聯繫</span>
            </div>
            <div class="col-md-6">
              <h4 class="heading-primary">關於職神</h4>
              <p>職神平台擁有兩個程式: 職神兼職同職神招聘. 職神是一個臨時工作招聘的手機平台。致力改進並優化企業招聘臨時工的過程。職神的目標是大幅提高臨時就業市場的效率，以及為企業提供一個無縫及優惠的招聘經驗。職神的願景是建立全球第一個真正的無國界流動人力資源網絡，並為雇主和員工提供一個安全高效的聘僱平台.</p>

              <hr class="light">

              <div class="contact-details">
                <ul class="contact">
                  <li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1238 國際工業大廈, 175 海濱道, 觀塘, 香港</p></li>
                  <li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> (852) 9020-3906</p></li>
                  <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:cs@gogenieapp.com">cs@gogenieapp.com</a></p></li>
                </ul>
              </div>
              <br>
              <h4 class="mb-none">社交媒體</h4>
              <br>
              <ul class="header-social-icons social-icons">
                <li class="social-icons-facebook"><a href="https://www.facebook.com/gogenieapp" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li class="social-icons-twitter"><a href="https://twitter.com/gogenieapp" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="social-icons-linkedin"><a href="https://www.linkedin.com/company/gogenieapp" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li class="social-icons-instagram"><a href="https://www.instagram.com/gogenieapp/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                <li class="social-icons-google"><a href="https://plus.google.com/+Gogenieapp/" target="_blank" title="Google"><i class="fa fa-google"></i></a></li>
                <li class="social-icons-pinterest"><a href="https://www.pinterest.com/gogenieapp/" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <h4 class="mb-none">聯絡我們</h4>
              <p>歡迎你電郵問題或意見, 我們樂意為您解答.</p>
              <form id="contactForm" action="MAILTO:cs@gogenieapp.com" method="POST">
                <input type="hidden" value="Contact Form" name="subject" id="subject">
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-6">
                      <label>名稱 *</label>
                      <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
                    </div>
                    <div class="col-md-6">
                      <label>電郵地址 *</label>
                      <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-12">
                      <label>信息 *</label>
                      <textarea maxlength="5000" data-msg-required="Please enter your message." rows="2" class="form-control" name="message" id="message" required></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <input type="submit" value="Send Message" class="btn btn-primary mb-xl" data-loading-text="Loading...">
                  </div>
                  <div class="col-md-8">
                    <div class="alert alert-success hidden" id="contactSuccess">
                      Message has been sent to us.
                    </div>

                    <div class="alert alert-danger hidden" id="contactError">
                      Error sending your message.
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-1">
                <a href="ch_index.html" class="logo">
                  <img alt="Porto Website Template" class="img-responsive" src="img/genie/genie-logo-footer_eng.png">
                </a>
              </div>
              <div class="col-md-7">
                <p>© 2016 CRAMCLUB COMPANY LIMITED. All Rights Reserved.</p>
              </div>
              <div class="col-md-4">
                <nav id="sub-menu">
                  <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="tnc.html">法律及私隱聲明</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- Vendor -->
    <!--[if lt IE 9]>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="vendor/jquery/jquery.js"></script>
    <!--<![endif]-->
    <script src="vendor/jquery.appear/jquery.appear.js"></script>
    <script src="vendor/jquery.easing/jquery.easing.js"></script>
    <script src="vendor/jquery-cookie/jquery-cookie.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.js"></script>
    <script src="vendor/common/common.js"></script>
    <script src="vendor/jquery.validation/jquery.validation.js"></script>
    <script src="vendor/jquery.stellar/jquery.stellar.js"></script>
    <script src="vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="vendor/jquery.gmap/jquery.gmap.js"></script>
    <script src="vendor/jquery.lazyload/jquery.lazyload.js"></script>
    <script src="vendor/isotope/jquery.isotope.js"></script>
    <script src="vendor/owl.carousel/owl.carousel.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="vendor/vide/vide.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="js/theme.js"></script>

    <!-- Specific Page Vendor and Views -->
    <script src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

    <script src="vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
    <script src="js/views/view.home.js"></script>

    <!-- Theme Custom -->
    <script src="js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="js/theme.init.js"></script>

    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-64263788-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>