<!DOCTYPE html>
<html>
  <head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>職神兼職 - 散工, 兼職, 全職 好幫手.</title>

    <meta name="description" content="GENIE combats the headache of hiring temporary workers. Our mobile app provides a platform for employers to post and hire a temporary worker in as fast as 5 minutes. GENIE eliminates market inefficiency and offers businesses quality temporary workers.  Our vision at GENIE is to become the global platform for all work placements where employers and job seekers can hire or work for anyone, anywhere, any time.">
    <meta name="keywords" content="你口袋裏的助手 新一代流動兼職兵團 職神 Genie gogenieapp 炒散週記 快錢 散工 外快 賺錢 求職 招職 招聘 搵工 快錢 兼職 判頭 打工 炒散 蛇頭 筍工 兼職 臨時工 working holiday 工作假期 揾錢 part-time job ManPower Adecco 彈性工作 散工生涯 散工買樓夢 散工夢飛翔 炒散兼職王 自由工作 搵錢話咁易 搵錢快靚正 炒散變富豪 炒散無難度 Parttime Part time Fulltime Job Work
    Temporary Staffing Recruitment Money Salary Wage Income">
    <meta name="author" content="職神 - Genie">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="職神 - Genie">
    <meta itemprop="description" content="新一代流動兼職兵團 ">
    <meta itemprop="image" content="<%= asset_path('ogimage-facebook.jpg') %>">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="職神 - Genie">
    <meta name="twitter:description" content="新一代流動兼職兵團 ">

    <!-- Open Graph data -->
    <meta property="og:title" content="職神 - Genie" />
    <meta property="og:url" content="http://www.gogenieapp.com/" />
    <meta property="og:image" content="<%= asset_path('ogimage-linkedin.jpg') %>" /> <!-- 180x110 Image for Linkedin -->
    <meta property="og:image:width" content="180" />
    <meta property="og:image:height" content="110" />
    <meta property="og:image" content="<%= asset_path('ogimage-facebook.jpg') %>" /> <!-- 200x200 Image for Facebook -->
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:description" content="新一代流動兼職兵團" />
    <meta property="og:site_name" content="職神 - Genie" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/genie/genie-favicon.ico" type="image/x-icon" />
    <!-- <link rel="apple-touch-icon" href="img/apple-touch-icon.png"> -->

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/theme-elements.css">
    <link rel="stylesheet" href="css/theme-blog.css">
    <link rel="stylesheet" href="css/theme-shop.css">
    <link rel="stylesheet" href="css/theme-animate.css">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="vendor/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" href="vendor/rs-plugin/css/layers.css" media="screen">
    <link rel="stylesheet" href="vendor/rs-plugin/css/navigation.css" media="screen">

    <link rel="stylesheet" href="vendor/circle-flip-slideshow/css/component.css" media="screen">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Head Libs -->
    <script src="vendor/modernizr/modernizr.js"></script>

    <!--[if IE]>
      <link rel="stylesheet" href="css/ie.css">
    <![endif]-->

    <!--[if lte IE 8]>
      <script src="vendor/respond/respond.js"></script>
      <script src="vendor/excanvas/excanvas.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="body">
      <header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>
        <div class="header-body">
          <div class="header-container container">
            <div class="header-row">
              <div class="header-column">
                <div class="header-logo">
                  <a href="ch_index.html">
                    <img alt="Porto" width="158" height="100" data-sticky-width="87" data-sticky-height="50" data-sticky-top="50" src="img/genie/genie-logo_chi.png">
                  </a>
                </div>
              </div>
              <div class="header-column">
                <div class="header-row">
                  <nav class="header-nav-top">
                    <ul class="nav nav-pills">
                      <li>
                        <a href="#" class="dropdown-menu-toggle" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <img src="img/blank.gif" class="flag flag-us" alt="English" /> English
                          <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
                          <li><a href="work.html"><img src="img/blank.gif" class="flag flag-us" alt="English" /> English</a></li>
                          <li><a href="ch_work.html"><img src="img/blank.gif" class="flag flag-hk" alt="中文" /> 中文</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="header-row">
                  <div class="header-nav">
                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                      <i class="fa fa-bars"></i>
                    </button>
                    <ul class="header-social-icons social-icons hidden-xs">
                      <li class="social-icons-facebook"><a href="https://www.facebook.com/gogenieapp" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                    <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                      <nav>
                        <ul class="nav nav-pills" id="mainNav">
                          <li>
                            <a href="ch_index.html" title="Hire Staff">
                              我要請人
                            </a>
                          </li>
                          <li class="active">
                            <a href="ch_work.html">
                              我要搵錢
                            </a>
                          </li>
                          <li>
                            <a href="http://blog.gogenieapp.com/" target="_blank" title="Blog">
                              職神博客
                            </a>
                          </li>
                          <li>
                            <a href="#footer">
                              聯絡我們
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="row landing-top">
        <div class="container">
          <div class="col-sm-6">
            <div class="text-center headline" data-appear-animation="bounceIn" data-appear-animation-delay="200">
              <h1>令搵工 變得輕鬆</h1>
              <h2>讓你活得更精彩</h2>
              <h2>加盟新世代流動兼職兵團</h2>
              <a href="https://itunes.apple.com/us/app/zhi-shen-jian-zhi-xin-yi-dai/id1013711536?ls=1&mt=8" target="_blank"><img src="img/genie/appstore.png" class="store-button"></a>
              <a href="https://play.google.com/store/apps/details?id=com.gogenieapp.employee" target="_blank"><img src="img/genie/playstore.png" class="store-button"></a>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="text-center screenshot-main" data-appear-animation="bounceInRight" data-appear-animation-delay="200">
              <img src="img/genie/genie-employee-landing-chi.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="home-intro" id="home-intro">
        <div class="container">

          <div class="row">
            <div class="col-md-8">
              <p>
                你需要請人嗎？職神招聘幫到你！
                <span>有很多高質素的僱員等緊你.</span>
              </p>
            </div>
            <div class="col-md-4">
              <div class="get-started">
                <a href="ch_index.html" class="btn btn-lg btn-primary">立刻搵人!</a>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="container">
        <div class="row center">
          <div class="col-md-12">
            <h1 class="mb-sm word-rotator-title">
              職神兼職讓你更快更方便地找到工作，無論你是
              <strong class="inverted">
                <span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
                  <span class="word-rotate-items">
                    <span>學生</span>
                    <span>全職人士</span>
                    <span>兼職人士</span>
                    <span>單親父母</span>
                  </span>
                </span>
              </strong>
            </h1>
            <p class="lead">
              我們將求職過程簡化！由註冊賬號到申請工作，整個過程不到2分鐘！
            </p>
          </div>
        </div>
      </div>

      <div class="home-concept">
        <div class="container">

          <div class="row center">
            <span class="sun"></span>
            <span class="cloud"></span>
            <div class="col-md-2 col-md-offset-1">
              <div class="process-image appear-animation" data-appear-animation="bounceIn">
                <img src="img/genie/genie-icon-download.jpeg" alt="" />
                <strong>下載</strong>
              </div>
            </div>
            <div class="col-md-2">
              <div class="process-image appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="200">
                <img src="img/genie/genie-icon-signup.png" alt="" />
                <strong>注冊</strong>
              </div>
            </div>
            <div class="col-md-2">
              <div class="process-image appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="400">
                <img src="img/genie/genie-icon-pick.png" alt="" />
                <strong>報工</strong>
              </div>
            </div>
            <div class="col-md-4 col-md-offset-1">
              <div class="project-image">
                <div id="fcSlideshow" class="fc-slideshow">
                  <ul class="fc-slides">
                    <li><img class="img-responsive" src="img/genie/genie-employee1.png" alt="" /></li>
                    <li><img class="img-responsive" src="img/genie/genie-employee2.png" alt="" /></li>
                    <li><img class="img-responsive" src="img/genie/genie-employee3.png" alt="" /></li>
                    <li><img class="img-responsive" src="img/genie/genie-employee4.png" alt="" /></li>
                    <li><img class="img-responsive" src="img/genie/genie-employee5.png" alt="" /></li>
                  </ul>
                </div>
                <strong class="our-work">開工!</strong>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row feature-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12 center">
              <h2 class="heading-dark">我們的<strong>特點</strong></h2>
            </div>
          </div>

            <div class="row">
              <div class="col-md-4">
                <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                  <div class="feature-box-icon">
                    <i class="icon-user-following icons"></i>
                  </div>
                  <div class="feature-box-info">
                    <h4 class="mb-sm">優質僱主</h4>
                    <p class="mb-lg">所有職神僱主經身分核實，保證優質，厚待員工。</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                  <div class="feature-box-icon">
                    <i class="icon-social-youtube icons"></i>
                  </div>
                  <div class="feature-box-info">
                    <h4 class="mb-sm">自動網上面試</h4>
                    <p class="mb-lg">通過網上平台錄製一次性的面試後即可反覆使用，大幅提升受聘機會, 既省時間又能省交通費。</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                  <div class="feature-box-icon">
                    <i class="icon-speech icons"></i>
                  </div>
                  <div class="feature-box-info">
                    <h4 class="mb-sm">工作提示推送</h4>
                    <p class="mb-lg">別再四出找工，讓合適的工作找到你吧！</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row mt-md">
              <div class="col-md-4">
                <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
                  <div class="feature-box-icon">
                    <i class="icon-layers icons"></i>
                  </div>
                  <div class="feature-box-info">
                    <h4 class="mb-sm">工作經驗簡歷</h4>
                    <p class="mb-lg">職神系統會統計並整合你的上班記錄、工作經驗及專業技能，務求為你找到合適的雇主！</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
                  <div class="feature-box-icon">
                    <i class="icon-star icons"></i>
                  </div>
                  <div class="feature-box-info">
                    <h4 class="mb-sm">可靠的評級系統</h4>
                    <p class="mb-lg">職神平台鼓勵公平的交流, 僱主及僱員每次工作後均可以互相評價。</p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                  <div class="feature-box-icon">
                    <i class="icon-energy icons"></i>
                  </div>
                  <div class="feature-box-info">
                    <h4 class="mb-sm">極速搵工</h4>
                    <p class="mb-lg">人性化介面加上一鍵報工，所有筍工一覽無遺。</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container hire-section">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 center">
              <h2 class="heading-dark">如何搵工<strong>搵工</strong></h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="col-sm-6">
              <div class="text-center headline">
                <div class="text-left col-sm-10 col-sm-offset-2">
                  <div data-appear-animation="fadeInLeft" data-appear-animation-delay="400">
                    <div class="instructions-bullets">
                      <span class="numberCircle">1</span><span class="heading-primary lead tall">下載程式</span>
                    </div>
                    <div class="text-center">
                      <a href="https://itunes.apple.com/us/app/zhi-shen-jian-zhi-xin-yi-dai/id1013711536?ls=1&mt=8" target="_blank"><img src="img/genie/appstore.png" class="store-button"></a>
                      <a href="https://play.google.com/store/apps/details?id=com.gogenieapp.employee" target="_blank"><img src="img/genie/playstore.png" class="store-button"></a>
                    </div>
                  </div>
                  <div data-appear-animation="fadeInLeft" data-appear-animation-delay="600">
                    <div class="instructions-bullets">
                      <span class="numberCircle">2</span><span class="heading-primary lead tall">建立帳戶</span>
                    </div>
                    <div class="instructions-text">
                      填寫簡單個人資料，五分鐘內完成申請驗證.
                    </div>
                  </div>
                  <div data-appear-animation="fadeInLeft" data-appear-animation-delay="800">
                    <div class="instructions-bullets">
                      <span class="numberCircle">3</span><span class="heading-primary lead tall">一鍵報工</span>
                    </div>
                    <div class="instructions-text">
                      大量筍工任你揀，時間地點任君選擇. 一秒完成報工程序，報工賺錢話咁易！
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="text-center screenshot-hire" data-appear-animation="fadeInRight" data-appear-animation-delay="200">
                <img src="img/genie/genie-apply_instructions-chi.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <hr class="tall">
          <h2 class="mb-sm word-rotator-title center">
            <strong>工作</strong>類別</h2>
          </h2>
          <h4 class="heading-primary lead tall center">還有更多...</h4>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="image-gallery sort-destination lightbox" data-sort-id="portfolio" data-plugin-options='{"delegate": "a.lightbox-portfolio", "type": "image", "gallery": {"enabled": true}}'>
              <li class="col-md-3 col-sm-6 col-xs-12 isotope-item websites">
                <div class="image-gallery-item">
                  <span class="thumb-info">
                    <span class="thumb-info-wrapper">
                      <img src="img/genie/genie-beautician.jpg" class="img-responsive" alt="">
                      <span class="thumb-info-title">
                        <span class="thumb-info-inner">美容師</span>
                        <span class="thumb-info-type">健康美容</span>
                      </span>
                    </span>
                  </span>
                </div>
              </li>
              <li class="col-md-3 col-sm-6 col-xs-12 isotope-item websites">
                <div class="image-gallery-item">
                  <span class="thumb-info">
                    <span class="thumb-info-wrapper">
                      <img src="img/genie/genie-data-entry.jpg" class="img-responsive" alt="">
                      <span class="thumb-info-title">
                        <span class="thumb-info-inner">數據輸入</span>
                        <span class="thumb-info-type">文職助理</span>
                      </span>
                    </span>
                  </span>
                </div>
              </li>
              <li class="col-md-3 col-sm-6 col-xs-12 isotope-item websites">
                <div class="image-gallery-item">
                  <span class="thumb-info">
                    <span class="thumb-info-wrapper">
                      <img src="img/genie/genie-promoter.jpg" class="img-responsive" alt="">
                      <span class="thumb-info-title">
                        <span class="thumb-info-inner">推銷員</span>
                        <span class="thumb-info-type">展覽活動</span>
                      </span>
                    </span>
                  </span>
                </div>
              </li>
              <li class="col-md-3 col-sm-6 col-xs-12 isotope-item websites">
                <div class="image-gallery-item">
                  <span class="thumb-info">
                    <span class="thumb-info-wrapper">
                      <img src="img/genie/genie-waiter.jpg" class="img-responsive" alt="">
                      <span class="thumb-info-title">
                        <span class="thumb-info-inner">服務員</span>
                        <span class="thumb-info-type">酒店飲食</span>
                      </span>
                    </span>
                  </span>
                </div>
              </li>
              <li class="col-md-3 col-sm-6 col-xs-12 isotope-item websites">
                <div class="image-gallery-item">
                  <span class="thumb-info">
                    <span class="thumb-info-wrapper">
                      <img src="img/genie/genie-packer.jpg" class="img-responsive" alt="">
                      <span class="thumb-info-title">
                        <span class="thumb-info-inner">倉務員</span>
                        <span class="thumb-info-type">物流運輸</span>
                      </span>
                    </span>
                  </span>
                </div>
              </li>
              <li class="col-md-3 col-sm-6 col-xs-12 isotope-item websites">
                <div class="image-gallery-item">
                  <span class="thumb-info">
                    <span class="thumb-info-wrapper">
                      <img src="img/genie/genie-hardware-support.jpg" class="img-responsive" alt="">
                      <span class="thumb-info-title">
                        <span class="thumb-info-inner">硬件支持</span>
                        <span class="thumb-info-type">維修清潔</span>
                      </span>
                    </span>
                  </span>
                </div>
              </li>
              <li class="col-md-3 col-sm-6 col-xs-12 isotope-item websites">
                <div class="image-gallery-item">
                  <span class="thumb-info">
                    <span class="thumb-info-wrapper">
                      <img src="img/genie/genie-designer.jpg" class="img-responsive" alt="">
                      <span class="thumb-info-title">
                        <span class="thumb-info-inner">設計師</span>
                        <span class="thumb-info-type">專業服務</span>
                      </span>
                    </span>
                  </span>
                </div>
              </li>
              <li class="col-md-3 col-sm-6 col-xs-12 isotope-item websites">
                <div class="image-gallery-item">
                  <span class="thumb-info">
                    <span class="thumb-info-wrapper">
                      <img src="img/genie/genie-sales.jpg" class="img-responsive" alt="">
                      <span class="thumb-info-title">
                        <span class="thumb-info-inner">銷售員</span>
                        <span class="thumb-info-type">零售銷售</span>
                      </span>
                    </span>
                  </span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <hr class="tall">
        </div>
      </div>

      <div class="container customers-section">
        <div class="row center">
          <div class="col-md-12">
            <h2 class="mb-sm word-rotator-title">
              超過 50,000 名用戶同 2000 家企業在 4 個國家使用<strong> 職神</ STRONG>.
            </h2>
            <h4 class="heading-primary lead tall">使用職神的僱主.</h4>
          </div>
        </div>

        <div class="row center">
          <div class="owl-carousel owl-theme" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-virginatlantic.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-marriott.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-excelsior.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-maxims.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-midlands.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-globalsources.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-kuaidadi.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-manulife.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-greenpeace.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-brooksbrother.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-deliveroo.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-honestbee.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-yeechoo.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-easyship.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-generalassembly.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-clockenflap.png" alt="">
            </div>
            <div>
              <img class="img-responsive" src="img/genie/genie-client-cosmoprof.png" alt="">
            </div>
          </div>
        </div>
      </div>

      <section class="section section-custom-map-2">
        <section class="section section-default section-footer">
          <div class="container" data-appear-animation="bounceIn" data-appear-animation-delay="200">
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
              <h2 class="heading-dark mt-xl center">用戶<strong>留言</strong></h2>
                <div class="owl-carousel owl-theme nav-bottom rounded-nav" data-plugin-options='{"items": 1, "autoplay": true, "autoplayTimeout": 7000}'>
                  <div>
                    <div class="col-md-12">
                      <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                          <p>很想多謝職神兼職幫我度過了人生的低潮.</p>
                        </blockquote>
                        <div class="testimonial-author">
                          <p><strong>少芬</strong><span>單身母親</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="col-md-12">
                      <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                          <p>職神讓我在我全職以外的時間找到散工, 賺取我女兒的書簿費.</p>
                        </blockquote>
                        <div class="testimonial-author">
                          <p><strong>黃龍</strong><span>巴士司機, 三名女兒</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="col-md-12">
                      <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                          <p>用職神兼職比我能夠嘗試的工作出不同類型的. 由於我在找全職, 它 (職神) 給了我非常大的靈活性.</p>
                        </blockquote>
                        <div class="testimonial-author">
                          <p><strong>Anna Ho</strong><span>工與工中</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="col-md-12">
                      <div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
                        <blockquote>
                          <p>多得職神我可以帶我父母去旅行. 我用過其他平台不過完全比不上. 我的朋友現在都用職神. <br>(從英文翻譯)</p>
                        </blockquote>
                        <div class="testimonial-author">
                          <p><strong>Bobby Chan</strong><span>大學生</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12 center">
              <h2 class="heading-dark">我們的<strong>獎項</strong></h2>
            </div>
            <div class="row">
              <div class="col-sm-4 award" data-appear-animation="fadeInUp" data-appear-animation-delay="200">
                <div class="feature-box">
                  <div class="feature-box-info">
                    <img class="img-responsive" src="img/genie/genie-award-hkict.jpg" alt="">
                    <h4 class="heading-primary mb-none">2016香港資訊及通訊科技獎</h4>
                    <p class="tall">最佳流動應用程式獎</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 award">
                <div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
                  <div class="feature-box-info">
                    <img class="img-responsive" src="img/genie/genie-award-hongkongbusiness.png" alt="">
                    <h4 class="heading-primary mb-none">2016香港最佳初創企業</h4>
                    <p class="tall">2016香港最佳初創企業</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 award">
                <div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                  <div class="feature-box-info">
                    <img class="img-responsive" src="img/genie/genie-award-cocoonpitchnight.jpg" alt="">
                    <h4 class="heading-primary mb-none">浩觀創業擂台半決賽</h4>
                    <p class="tall">冠軍及觀眾最喜愛初創企業</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4 award" data-appear-animation="fadeInUp" data-appear-animation-delay="200">
                <div class="feature-box">
                  <div class="feature-box-info">
                    <img class="img-responsive" src="img/genie/genie-award-hksec.png" alt="">
                    <h4 class="heading-primary mb-none">香港社會企業挑戰賽</h4>
                    <p class="tall">香港社會企業挑戰賽 - 冠軍</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 award">
                <div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
                  <div class="feature-box-info">
                    <img class="img-responsive" src="img/genie/genie-award-hkfyg.jpg" alt="">
                    <h4 class="heading-primary mb-none">香港青年協會</h4>
                    <p class="tall">香港青年協會社創之夜 - 冠軍</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-4 award">
                <div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
                  <div class="feature-box-info">
                    <img class="img-responsive" src="img/genie/genie-award-risebreakthrough.jpg" alt="">
                    <h4 class="heading-primary mb-none">RISE Breakthrough 香港</h4>
                    <p class="tall">RISE Breakthrough 香港 - 決賽</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="footer-ribbon">
              <span>保持聯繫</span>
            </div>
            <div class="col-md-6">
              <h4 class="heading-primary">關於職神</h4>
              <p>職神平台擁有兩個程式: 職神兼職及職神招聘. 職神是一個臨時工作招聘的手機平台。致力改進並優化企業招聘臨時工的過程。職神的目標是大幅提高臨時就業市場的效率，以及為企業提供一個無縫及優惠的招聘經驗。職神的願景是建立全球第一個真正的無國界流動人力資源網絡，並為雇主和員工提供一個安全高效的聘僱平台.</p>

              <hr class="light">

              <div class="contact-details">
                <ul class="contact">
                  <li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1238 國際工業大廈, 175 海濱道, 觀塘, 香港</p></li>
                  <li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> (852) 9020-3906</p></li>
                  <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:cs@gogenieapp.com">cs@gogenieapp.com</a></p></li>
                </ul>
              </div>
              <br>
              <h4 class="mb-none">社交媒體</h4>
              <br>
              <ul class="header-social-icons social-icons">
                <li class="social-icons-facebook"><a href="https://www.facebook.com/gogenieapp" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li class="social-icons-twitter"><a href="https://twitter.com/gogenieapp" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="social-icons-linkedin"><a href="https://www.linkedin.com/company/gogenieapp" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li class="social-icons-instagram"><a href="https://www.instagram.com/gogenieapp/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                <li class="social-icons-google"><a href="https://plus.google.com/+Gogenieapp/" target="_blank" title="Google"><i class="fa fa-google"></i></a></li>
                <li class="social-icons-pinterest"><a href="https://www.pinterest.com/gogenieapp/" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <h4 class="mb-none">聯絡我們</h4>
              <p>歡迎你電郵問題或意見, 我們樂意為您解答.</p>
              <form id="contactForm" action="MAILTO:cs@gogenieapp.com" method="POST">
                <input type="hidden" value="Contact Form" name="subject" id="subject">
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-6">
                      <label>名稱 *</label>
                      <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
                    </div>
                    <div class="col-md-6">
                      <label>電郵地址 *</label>
                      <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-12">
                      <label>信息 *</label>
                      <textarea maxlength="5000" data-msg-required="Please enter your message." rows="2" class="form-control" name="message" id="message" required></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <input type="submit" value="Send Message" class="btn btn-primary mb-xl" data-loading-text="Loading...">
                  </div>
                  <div class="col-md-8">
                    <div class="alert alert-success hidden" id="contactSuccess">
                      Message has been sent to us.
                    </div>

                    <div class="alert alert-danger hidden" id="contactError">
                      Error sending your message.
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-1">
                <a href="ch_index.html" class="logo">
                  <img alt="Porto Website Template" class="img-responsive" src="img/genie/genie-logo-footer_eng.png">
                </a>
              </div>
              <div class="col-md-7">
                <p>© 2016 CRAMCLUB COMPANY LIMITED. All Rights Reserved.</p>
              </div>
              <div class="col-md-4">
                <nav id="sub-menu">
                  <ul>
                    <!-- <li><a href="#">FAQ</a></li> -->
                    <li><a href="tnc.html">法律及私隱聲明</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- Vendor -->
    <!--[if lt IE 9]>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="vendor/jquery/jquery.js"></script>
    <!--<![endif]-->
    <script src="vendor/jquery.appear/jquery.appear.js"></script>
    <script src="vendor/jquery.easing/jquery.easing.js"></script>
    <script src="vendor/jquery-cookie/jquery-cookie.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.js"></script>
    <script src="vendor/common/common.js"></script>
    <script src="vendor/jquery.validation/jquery.validation.js"></script>
    <script src="vendor/jquery.stellar/jquery.stellar.js"></script>
    <script src="vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="vendor/jquery.gmap/jquery.gmap.js"></script>
    <script src="vendor/jquery.lazyload/jquery.lazyload.js"></script>
    <script src="vendor/isotope/jquery.isotope.js"></script>
    <script src="vendor/owl.carousel/owl.carousel.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="vendor/vide/vide.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="js/theme.js"></script>

    <!-- Specific Page Vendor and Views -->
    <script src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

    <script src="vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
    <script src="js/views/view.home.js"></script>

    <!-- Theme Custom -->
    <script src="js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="js/theme.init.js"></script>

    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-64263788-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>