<!DOCTYPE html>
<html>
	<head>

		<!-- Basic -->
		<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>GoGENIE Staffing Solution - Temporary Staffing Made Easy. We can also help you with Part Time and Full Time Recruitment</title>

		<meta name="google-site-verification" content="VWKDyPMZOM5I_dVEWZn0SIAMy2_ovnojdXT8VXQXH9Y" />
		<meta name="description" content="GoGENIE hire better with the leading app in the industry. Post jobs for free and hire temporary and part time workers efficiently. Over 100,000 people and 3,000 businesses in 4 countries use us to hire. Find out how you can find your temporary or part time staff now!">
	  <meta name="keywords" content="你口袋裏的助手 新一代流動兼職兵團 職神 GoGENIE gogenieapp 炒散週記 快錢 散工 外快 賺錢 求職 招職 招聘 搵工 快錢 兼職 判頭 打工 炒散 蛇頭 筍工 兼職 臨時工 working holiday 工作假期 揾錢 part-time job ManPower Adecco 彈性工作 散工生涯 散工買樓夢 散工夢飛翔 炒散兼職王 自由工作 搵錢話咁易 搵錢快靚正 炒散變富豪 炒散無難度 Parttime Part time Fulltime Job Work Temporary Staffing Recruitment Money Salary Wage Income">
	  <meta name="author" content="職神 - GoGENIE">

		<!-- Schema.org markup for Google+ -->
	  <meta itemprop="name" content="職神 - GoGENIE">
	  <meta itemprop="description" content="新一代流動兼職兵團 ">
	  <meta itemprop="image" content="<%= asset_path('ogimage-facebook.jpg') %>">

	  <!-- Twitter Card data -->
	  <meta name="twitter:card" content="summary_large_image">
	  <meta name="twitter:title" content="職神 - GoGENIE">
	  <meta name="twitter:description" content="新一代流動兼職兵團 ">

	  <!-- Open Graph data -->
	  <meta property="og:title" content="職神 - GoGENIE" />
	  <meta property="og:url" content="http://www.gogenieapp.com/" />
	  <meta property="og:image" content="<%= asset_path('ogimage-linkedin.jpg') %>" /> <!-- 180x110 Image for Linkedin -->
	  <meta property="og:image:width" content="180" />
	  <meta property="og:image:height" content="110" />
	  <meta property="og:image" content="<%= asset_path('ogimage-facebook.jpg') %>" /> <!-- 200x200 Image for Facebook -->
	  <meta property="og:image:width" content="200" />
	  <meta property="og:image:height" content="200" />
	  <meta property="og:description" content="新一代流動兼職兵團" />
	  <meta property="og:site_name" content="職神 - GoGENIE" />

		<!-- Favicon -->
		<link rel="shortcut icon" href="img/genie/genie-favicon.ico" type="image/x-icon" />
		<!-- <link rel="apple-touch-icon" href="img/apple-touch-icon.png"> -->

		<!-- Mobile Metas -->
		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Web Fonts  -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" href="css/vendor/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="css/vendor/font-awesome/css/font-awesome.css">
		<link rel="stylesheet" href="css/vendor/simple-line-icons/css/simple-line-icons.css">
		<link rel="stylesheet" href="css/vendor/owl.carousel/assets/owl.carousel.min.css">
		<link rel="stylesheet" href="css/vendor/owl.carousel/assets/owl.theme.default.min.css">
		<link rel="stylesheet" href="css/vendor/magnific-popup/magnific-popup.css">

		<!-- Theme CSS -->
		<link rel="stylesheet" href="css/theme.css">
		<link rel="stylesheet" href="css/theme-elements.css">
		<link rel="stylesheet" href="css/theme-blog.css">
		<link rel="stylesheet" href="css/theme-shop.css">
		<link rel="stylesheet" href="css/theme-animate.css">

		<!-- Current Page CSS -->
		<link rel="stylesheet" href="css/vendor/rs-plugin/css/settings.css" media="screen">
		<link rel="stylesheet" href="css/vendor/rs-plugin/css/layers.css" media="screen">
		<link rel="stylesheet" href="css/vendor/rs-plugin/css/navigation.css" media="screen">

		<link rel="stylesheet" href="css/vendor/circle-flip-slideshow/css/component.css" media="screen">

		<!-- Skin CSS -->
		<link rel="stylesheet" href="css/skins/default.css">

		<!-- Theme Custom CSS -->
		<link rel="stylesheet" href="css/custom.css">


		<!-- Create Post CSS -->
		<link rel="stylesheet" href="css/createpost.css">
		<!-- <link rel="stylesheet" href="css/bootstrap-modal/bootstrap-modal-bs3patch.css">
		<link rel="stylesheet" href="css/bootstrap-modal/bootstrap-modal.css"> -->
		<link rel="stylesheet" href="css/datepicker.min.css">
	  <link rel="stylesheet" href="css/timepicker.css">

		<!-- Head Libs -->
		<script src="css/vendor/modernizr/modernizr.js"></script>

		<!--[if IE]>
			<link rel="stylesheet" href="css/ie.css">
		<![endif]-->

		<!--[if lte IE 8]>
			<script src="css/vendor/respond/respond.js"></script>
			<script src="css/vendor/excanvas/excanvas.js"></script>
		<![endif]-->

	</head>
	<body>
		<div class="body">
			<header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>
				<div class="header-body">
					<div class="header-container container">
						<div class="header-row">
							<div class="header-column">
								<div class="header-logo">
									<a href="index.html">
										<img alt="Porto" width="269" height="100" data-sticky-width="188" data-sticky-height="70" data-sticky-top="30" src="img/genie/gogenie-logo-eng.png">
									</a>
								</div>
							</div>
							<div class="header-column">
								<div class="header-row">
									<nav class="header-nav-top">
										<ul class="nav nav-pills">
											<li>
												<a href="#" class="dropdown-menu-toggle" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
													<img src="img/blank.gif" class="flag flag-us" alt="English" /> English
													<i class="fa fa-angle-down"></i>
												</a>
												<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
													<li><a href="index.html"><img src="img/blank.gif" class="flag flag-us" alt="English" /> English</a></li>
													<li><a href="ch_index.html"><img src="img/blank.gif" class="flag flag-hk" alt="中文" /> 中文</a></li>
												</ul>
											</li>
										</ul>
									</nav>
								</div>
								<div class="header-row">
									<div class="header-nav">
										<button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
											<i class="fa fa-bars"></i>
										</button>
										<ul class="header-social-icons social-icons hidden-xs">
											<li class="social-icons-facebook"><a href="https://www.facebook.com/gogenieapp" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
										</ul>
										<div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
											<nav>
												<ul class="nav nav-pills" id="mainNav">
													<li class="active">
														<a href="index.html" title="Hire Staff">
															Hire Staff
														</a>
													</li>
													<li>
														<a href="work.html">
															Find Work
														</a>
													</li>
													<!-- <li>
														<a href="http://blog.gogenieapp.com/" target="_blank" title="Blog">
															Blog
														</a>
													</li> -->
													<li>
														<a href="#footer">
															Contact Us
														</a>
													</li>
													<!-- <li>
														<a href="http://web.gogenieapp.com/" target="_blank" onclick="_gaq.push(['_trackEvent', 'Login Button', 'Employer Log In (English)">
															Log In
														</a>
													</li> -->
												</ul>
											</nav>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</header>

			<div class="row landing-top">
				<div class="container">
			    <div class="col-sm-6">
			      <div class="text-center headline" data-appear-animation="bounceIn" data-appear-animation-delay="200">
			        <h1>Hire Temporary<br> Staff Now</h1>
			        <h2>The fastest way to hire is <em>Here</em></h2>
							<div class="create-post-row">
								<button
									class="btn btn-lg btn-default" data-toggle="modal"
									data-target="#createJobModal">
									Create Job Post Now!
								</button>
								<button
									class="btn btn-lg btn-default" data-toggle="modal"
									data-target="#temporaryJobModal">
									Temporary Job Post Modal Button
								</button>
								<button
									class="btn btn-lg btn-default" data-toggle="modal"
									data-target="#signInModal">
									Temporary sign in modal button
								</button>
							</div>

			        <a href="https://itunes.apple.com/hk/app/genie-zhi-shen-zhao-pin-gu/id1013716062?mt=8" target="_blank" onclick="_gaq.push(['_trackEvent', 'Download Button', 'Employer App from App Store (English)'])"><img src="img/genie/appstore.png" class="store-button"></a>
      				<a href="https://play.google.com/store/apps/details?id=com.gogenieapp.employer" target="_blank" onclick="_gaq.push(['_trackEvent', 'Download Button', 'Employer App from Play Store (English)'])"><img src="img/genie/playstore.png" class="store-button"></a>
							<br>
							<a href="https://cheungmar.typeform.com/to/cai50t" target="_blank" onclick="_gaq.push(['_trackEvent', 'Demo Button', 'Header (English)'])"><button type="button" class="btn btn-info demo-button">Schedule Free Demo</button></a>
			      </div>
			    </div>

			    <div class="col-sm-6">
			      <div class="text-center screenshot-main" data-appear-animation="bounceInRight" data-appear-animation-delay="200">
			        <img src="img/genie/genie-employer-landing-eng.png" alt="">
			      </div>
			    </div>
			  </div>
		  </div>

			<div class="home-intro" id="home-intro">
				<div class="container">

					<div class="row">
						<div class="col-md-8">
							<p>
								Are you a job seeker? We're here to <em>Help</em>
								<span>There are many jobs waiting for you.</span>
							</p>
						</div>
						<div class="col-md-4">
							<div class="get-started">
								<a href="work.html" class="btn btn-lg btn-primary">Find Work Now!</a>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="container">
				<div class="row center">
					<div class="col-md-12">
						<h1 class="mb-sm word-rotator-title">
							GoGENIE empowers
							<strong class="inverted">
								<span class="word-rotate" data-plugin-options='{"delay": 2000, "animDelay": 300}'>
									<span class="word-rotate-items">
										<span>businesses</span>
										<span>startups</span>
										<span>corporations</span>
										<span>individuals</span>
										<span>enterprises</span>
									</span>
								</span>
							</strong>
							to hire efficiently and effectively.
						</h1>
						<p class="lead">
							We make hiring temporary workers easy! It takes less than 2 minutes to post a job and our quickest matching time is 5 minutes leading the industry. Find out how you can find your temporary staff now!
						</p>
					</div>
				</div>
			</div>

			<div class="home-concept">
				<div class="container">

					<div class="row center">
						<span class="sun"></span>
						<span class="cloud"></span>
						<div class="col-md-2 col-md-offset-1">
							<div class="process-image appear-animation" data-appear-animation="bounceIn">
								<img src="img/genie/genie-icon-post.png" alt="" />
								<strong>Post</strong>
							</div>
						</div>
						<div class="col-md-2">
							<div class="process-image appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="200">
								<img src="img/genie/genie-icon-play.png" alt="" />
								<strong>Play</strong>
							</div>
						</div>
						<div class="col-md-2">
							<div class="process-image appear-animation" data-appear-animation="bounceIn" data-appear-animation-delay="400">
								<img src="img/genie/genie-icon-pick.png" alt="" />
								<strong>Pick</strong>
							</div>
						</div>
						<div class="col-md-4 col-md-offset-1">
							<div class="project-image">
								<div id="fcSlideshow" class="fc-slideshow">
									<ul class="fc-slides">
										<li><img class="img-responsive" src="img/genie/genie-employee1.png" alt="" /></li>
										<li><img class="img-responsive" src="img/genie/genie-employee2.png" alt="" /></li>
										<li><img class="img-responsive" src="img/genie/genie-employee3.png" alt="" /></li>
										<li><img class="img-responsive" src="img/genie/genie-employee4.png" alt="" /></li>
										<li><img class="img-responsive" src="img/genie/genie-employee5.png" alt="" /></li>
									</ul>
								</div>
								<strong class="our-work">Hired!</strong>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="container">
				<div class="row">
					<hr class="tall">
				</div>
			</div>

			<div class="container customers-section">
				<div class="row center">
					<div class="col-md-12">
						<h2 class="mb-sm word-rotator-title">
							Over 100,000 people and 3,000 businesses in 4 countries use <strong>GoGENIE</strong>.
						</h2>
						<h4 class="heading-primary lead tall">Meet our customers.</h4>
					</div>
				</div>

				<div class="row center">
					<div class="owl-carousel owl-theme" data-plugin-options='{"items": 6, "autoplay": true, "autoplayTimeout": 3000}'>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-virginatlantic.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-marriott.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-excelsior.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-maxims.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-midlands.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-globalsources.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-kuaidadi.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-manulife.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-greenpeace.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-brooksbrother.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-deliveroo.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-honestbee.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-yeechoo.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-easyship.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-generalassembly.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-clockenflap.png" alt="">
						</div>
						<div>
							<img class="img-responsive" src="img/genie/genie-client-cosmoprof.png" alt="">
						</div>
					</div>
				</div>
			</div>

			<div class="row feature-section">
				<div class="container">
					<div class="row">
						<div class="col-md-12 center">
							<h2 class="heading-dark">Our <strong>Features</strong></h2>
						</div>
					</div>

						<div class="row">
							<div class="col-md-4">
								<div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
									<div class="feature-box-icon">
										<i class="icon-user-following icons"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="mb-sm">Prescreened Candidates</h4>
										<p class="mb-lg">We prescreen all GoGENIEs to maintain a high quality candidate pool. Candidates are asked to upload their ID cards and take our psychometric test.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
									<div class="feature-box-icon">
										<i class="icon-social-youtube icons"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="mb-sm">Automated Online Interviews</h4>
										<p class="mb-lg">Play, fast-forward, skip pre-recorded video interviews, which showcase the applicants' communication skills in English Mandarin and Cantonese.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
									<div class="feature-box-icon">
										<i class="icon-target icons"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="mb-sm">Hire Better</h4>
										<p class="mb-lg">GoGENIE pre-filters applicants and actively pushes candidate to employers using our recommendation algorithm based on job requirement.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row mt-md">
							<div class="col-md-4">
								<div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">
									<div class="feature-box-icon">
										<i class="icon-layers icons"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="mb-sm">Recorded Job History</h4>
										<p class="mb-lg">We take all their job experiences and skills set, and compile for them a standardize, simplified profile that resides on our platform.</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">
									<div class="feature-box-icon">
										<i class="icon-star icons"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="mb-sm">Reliable Rating System</h4>
										<p class="mb-lg">Employers and GoGENIEs can review each other after each job. We are building a community that encourages fairness and communication. </p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="feature-box feature-box-style-4 appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
									<div class="feature-box-icon">
										<i class="icon-energy icons"></i>
									</div>
									<div class="feature-box-info">
										<h4 class="mb-sm">Super Fast</h4>
										<p class="mb-lg">Your post will reach all our GoGENIE's mobile phones instantly and you can call applicants directly with your mobile phone. It is so convenient and fast.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container hire-section">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12 center">
							<h2 class="heading-dark">How to <strong>Hire</strong></h2>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="col-sm-6">
				      <div class="text-center headline">
				      	<div class="text-left col-sm-10 col-sm-offset-2">
				      		<div data-appear-animation="fadeInLeft" data-appear-animation-delay="400">
					      		<div class="instructions-bullets">
					      			<span class="numberCircle">1</span><span class="heading-primary lead tall">Download GoGENIE</span>
					      		</div>
					      		<div class="text-center">
					      			<a href="https://itunes.apple.com/hk/app/genie-zhi-shen-zhao-pin-gu/id1013716062?mt=8" target="_blank" onclick="_gaq.push(['_trackEvent', 'Download Button', 'Employer App from Play Store (English)'])"><img src="img/genie/appstore.png" class="store-button"></a>
	      							<a href="https://play.google.com/store/apps/details?id=com.gogenieapp.employer" target="_blank" onclick="_gaq.push(['_trackEvent', 'Download Button', 'Employer App from Play Store (English)'])"><img src="img/genie/playstore.png" class="store-button"></a>
					      		</div>
					      	</div>
					      	<div data-appear-animation="fadeInLeft" data-appear-animation-delay="600">
					      		<div class="instructions-bullets">
					      			<span class="numberCircle">2</span><span class="heading-primary lead tall">Create an Account</span>
					      		</div>
					      		<div class="instructions-text">
					      			Enter your company details and upload your company logo.
					      		</div>
					      	</div>
					      	<div data-appear-animation="fadeInLeft" data-appear-animation-delay="800">
					      		<div class="instructions-bullets">
					      			<span class="numberCircle">3</span><span class="heading-primary lead tall">Post a Job</span>
					      		</div>
					      		<div class="instructions-text">
					      			Enter the job details and press post. Your job post will now reach tens of thousands of potential employees.
					      		</div>
					      	</div>
								</div>
				      </div>
				    </div>
				    <div class="col-sm-6">
				      <div class="text-center screenshot-hire" data-appear-animation="fadeInRight" data-appear-animation-delay="200">
				        <img src="img/genie/genie-profile_introduction_rating-eng.png" alt="">
				      </div>
				    </div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					<hr class="tall">
				</div>
			</div>

			<section class="section section-custom-map-2">
				<section class="section section-default section-footer">
					<div class="container" data-appear-animation="bounceIn" data-appear-animation-delay="200">
						<div class="row">
							<div class="col-md-10 col-md-offset-1">
							<h2 class="heading-dark mt-xl center">What <strong>Employers</strong> Say</h2>
								<div class="owl-carousel owl-theme nav-bottom rounded-nav" data-plugin-options='{"items": 1, "autoplay": true, "autoplayTimeout": 7000}'>
									<div>
										<div class="col-md-12">
											<div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
												<blockquote>
													<p>Thank you for the staff you sent us. You have done well in finding us the right people. They were all a perfect fit. I am looking forward to working with you again in the future.</p>
												</blockquote>
												<div class="testimonial-author">
													<p><strong>Liz Bardelas</strong><span>CEO & Founder - JCat Beauty, California, USA</span></p>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="col-md-12">
											<div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
												<blockquote>
													<p>When we couldn’t find any staff, GoGENIE sourced reliable workers for us every week. Thank you very much.</p>
												</blockquote>
												<div class="testimonial-author">
													<p><strong>Jacky Tsui</strong><span>Manager - Marriot Hotel, Hong Kong</span></p>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="col-md-12">
											<div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
												<blockquote>
													<p>I only know how many staff I need at 3pm so I find staff here to start work at 6pm. GoGENIE is super fast and reliable!!!</p>
												</blockquote>
												<div class="testimonial-author">
													<p><strong>Tommaso Tamburnotti</strong><span>CEO & Founder - EasyShip, Hong Kong</span></p>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="col-md-12">
											<div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
												<blockquote>
													<p>GREAT promoters! The videos helped a big deal.</p>
												</blockquote>
												<div class="testimonial-author">
													<p><strong>Grace Luk</strong><span>Manager - Deliveroo, Hong Kong</span></p>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="col-md-12">
											<div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
												<blockquote>
													<p>“Thank you for the energetic team. Good job!”</p>
												</blockquote>
												<div class="testimonial-author">
													<p><strong>Phil Murphy</strong><span>Managing Director - Clockenflap, Hong Kong</span></p>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="col-md-12">
											<div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
												<blockquote>
													<p>I flew to HK for the Franchise exhibition and needed a translator. I found Miranda via GoGENIE within 1 day. She was a lifesaver.</p>
												</blockquote>
												<div class="testimonial-author">
													<p><strong>Marc Mushkin</strong><span>CEO & Founder - Carl's Jr, USA</span></p>
												</div>
											</div>
										</div>
									</div>
									<div>
										<div class="col-md-12">
											<div class="testimonial testimonial-style-2 testimonial-with-quotes mb-none">
												<blockquote>
													<p>Hiring made superquick! We are very pleased.</p>
												</blockquote>
												<div class="testimonial-author">
													<p><strong>Phoebe Pon</strong><span>Manager - Virgin Atlantic</span></p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</section>

			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-12 center">
							<h2 class="heading-dark">Our <strong>Awards</strong></h2>
						</div>

						<div class="row">
							<div class="col-sm-4 award" data-appear-animation="fadeInUp" data-appear-animation-delay="200">
								<div class="feature-box">
									<div class="feature-box-info">
										<img class="img-responsive" src="img/genie/genie-award-hkict.jpg" alt="">
										<h4 class="heading-primary mb-none">Hong Kong ICT Awards 2016</h4>
										<p class="tall">Best Mobile App (Enterprise Solutions)</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 award">
								<div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
									<div class="feature-box-info">
										<img class="img-responsive" src="img/genie/genie-award-hongkongbusiness.png" alt="">
										<h4 class="heading-primary mb-none">Hong Kong's Top 20 Hottest Startups 2016</h4>
										<p class="tall">Hong Kong's Top 20 Hottest Startups 2016</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 award">
								<div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
									<div class="feature-box-info">
										<img class="img-responsive" src="img/genie/genie-award-cocoonpitchnight.jpg" alt="">
										<h4 class="heading-primary mb-none">Cocoon Pitch Night Finals</h4>
										<p class="tall">Champion and Audience Favorite Startup Award</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4 award" data-appear-animation="fadeInUp" data-appear-animation-delay="200">
								<div class="feature-box">
									<div class="feature-box-info">
										<img class="img-responsive" src="img/genie/genie-award-hksec.png" alt="">
										<h4 class="heading-primary mb-none">Hong Kong Social Enterprise Challenge</h4>
										<p class="tall">Champion of the Hong Kong Social Enterprise Challenge</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 award">
								<div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
									<div class="feature-box-info">
										<img class="img-responsive" src="img/genie/genie-award-hkfyg.jpg" alt="">
										<h4 class="heading-primary mb-none">Hong Kong Federation of Youth Groups</h4>
										<p class="tall">Champion of the Co-Creator Impact Night</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 award">
								<div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
									<div class="feature-box-info">
										<img class="img-responsive" src="img/genie/genie-award-risebreakthrough.jpg" alt="">
										<h4 class="heading-primary mb-none">RISE Breakthrough Hong Kong</h4>
										<p class="tall">Finalist of the RISE Breakthrough Hong Kong</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4 award" data-appear-animation="fadeInUp" data-appear-animation-delay="200">
								<div class="feature-box">
									<div class="feature-box-info">
										<img class="img-responsive" src="img/genie/genie-award-amaa.png" alt="">
										<h4 class="heading-primary mb-none">Asia Mobile App Contest 2016</h4>
										<p class="tall">Merit Winner for Creative Lifestyle</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 award">
								<div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
									<div class="feature-box-info">
										<img class="img-responsive" src="img/genie/genie-award-jcsic.png" alt="">
										<h4 class="heading-primary mb-none">The HKFYG Jockey Club Innovation Centre</h4>
										<p class="tall">Runner-Up of the Social Innovation Challenge 2016</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 award">
								<div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
									<div class="feature-box-info">
										<img class="img-responsive" src="img/genie/genie-award-cacsc.png" alt="">
										<h4 class="heading-primary mb-none">Create@Alibaba Cloud Startup Contest 2016</h4>
										<p class="tall">Hong Kong Regional Finalist</p>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4 award" data-appear-animation="fadeInUp" data-appear-animation-delay="200">
								<div class="feature-box">
									<div class="feature-box-info">
										<img class="img-responsive" src="img/genie/genie-award-redherring.png" alt="">
										<h4 class="heading-primary mb-none">Red Herring</h4>
										<p class="tall">Top 100 Asia Company 2016</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 award">
								<div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="400">
									<div class="feature-box-info">
										<img class="img-responsive" src="img/genie/genie-award-seedstar.png" alt="">
										<h4 class="heading-primary mb-none">Seedstars World Hong Kong 2016</h4>
										<p class="tall">Runner-Up of the Seedstars World Hong Kong</p>
									</div>
								</div>
							</div>
							<div class="col-sm-4 award">
								<div class="feature-box" data-appear-animation="fadeInUp" data-appear-animation-delay="600">
									<div class="feature-box-info">
										<img class="img-responsive" src="img/genie/genie-award-tie.png" alt="">
										<h4 class="heading-primary mb-none">Silicon Valley Ti50 Awards</h4>
										<p class="tall">Top 50 Global Startup 2016</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>

			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="footer-ribbon">
							<span>Get in Touch</span>
						</div>
						<div class="col-md-6">
							<h4 class="heading-primary">About GoGENIE</h4>
							<p>GoGENIE hire better with the leading app in the industry. Post jobs for free and hire temporary and part time workers efficiently. Over 100,000 people and 3,000 businesses in 4 countries use us to hire. Find out how you can find your temporary or part time staff now!</p>

							<hr class="light">

							<div class="contact-details">
								<ul class="contact">
									<li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1238 International Building, 175 Hoi Bun Road, Kwun Tong, Hong Kong</p></li>
									<li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> (852) 6306-3770</p></li>
									<li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:cs@gogenieapp.com">cs@gogenieapp.com</a></p></li>
								</ul>
							</div>
							<br>
							<h4 class="mb-none">Follow Us</h4>
							<br>
							<ul class="header-social-icons social-icons">
								<li class="social-icons-facebook"><a href="https://www.facebook.com/gogenieapp" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
								<li class="social-icons-twitter"><a href="https://twitter.com/gogenieapp" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
								<li class="social-icons-linkedin"><a href="https://www.linkedin.com/company/gogenieapp" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
								<li class="social-icons-instagram"><a href="https://www.instagram.com/gogenieapp/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
								<li class="social-icons-google"><a href="https://plus.google.com/+Gogenieapp/" target="_blank" title="Google"><i class="fa fa-google"></i></a></li>
								<li class="social-icons-pinterest"><a href="https://www.pinterest.com/gogenieapp/" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
							</ul>
						</div>
						<div class="col-md-6">
							<h4 class="mb-none">Contact Us</h4>
							<p>Contact us or give us a call to discover how we can help.</p>
							<form id="contactForm" action="MAILTO:cs@gogenieapp.com" method="POST">
								<input type="hidden" value="Contact Form" name="subject" id="subject">
								<div class="row">
									<div class="form-group">
										<div class="col-md-6">
											<label>Your name *</label>
											<input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
										</div>
										<div class="col-md-6">
											<label>Your email address *</label>
											<input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="form-group">
										<div class="col-md-12">
											<label>Message *</label>
											<textarea maxlength="5000" data-msg-required="Please enter your message." rows="2" class="form-control" name="message" id="message" required></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<input type="submit" value="Send Message" class="btn btn-primary mb-xl" data-loading-text="Loading...">
									</div>
									<div class="col-md-8">
										<div class="alert alert-success hidden" id="contactSuccess">
											Message has been sent to us.
										</div>

										<div class="alert alert-danger hidden" id="contactError">
											Error sending your message.
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-8">
								<p>© 2016 CRAMCLUB COMPANY LIMITED. All Rights Reserved.</p>
								<p>v0.0.2</p>
							</div>
							<div class="col-md-4">
								<nav id="sub-menu">
									<ul>
										<!-- <li><a href="#">FAQ</a></li> -->
										<li><a href="tnc.html">Terms & Condition</a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>

	<!-- CREATE JOB MODAL -->
		<div id="createJobModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
						<h4 class="modal-title">Create Job Post (1/2)</h4>
					</div>
					<div class="modal-body">
						<form data-toggle="validator" role="form" id="firstSecForm">
							<div class="row">
								<div class="col-xs-6">
									<div class="form-group">
										<input type="text" class="form-control" id="jobPosition" placeholder="Enter Job Position"  data-categorize="true" required>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="form-group">
					          <div class="dropdown jobCategoryDropdown">
					            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="jobCategory">
					              Select Job Category
					            </button>
					            <ul class="dropdown-menu" aria-labelledby="jobCategory">
					              <li><a>Healthcare & Beauty</a></li>
					              <li><a>Clerical</a></li>
					              <li><a>Events & Exhibitions</a></li>
					              <li><a>Hospitality</a></li>
					              <li><a>Logistics</a></li>
					              <li><a>Maintenance</a></li>
					              <li><a>Professional Services</a></li>
					              <li><a>Retail</a></li>
					              <li><a>Others</a></li>
					            </ul>
					          </div>
									</div>
								</div>
			        </div>

		        	<div class="row">
		        		<div class="col-xs-6">
					        <div class="form-group">
						        <input type="text" class="form-control address-input" id="addressInput" placeholder="Enter Location" data-districts="true" required>
			        		</div>
		        		</div>
		        		<div class="col-xs-6">
					        <div class="form-group">
										<div class="dropdown districtsDropdown">
					            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="district">
					              Select District
					            </button>
					            <ul class="dropdown-menu" aria-labelledby="districts">
					              <li><a>Central and Western</a></li>
					              <li><a>Eastern</a></li>
					              <li><a>Southern</a></li>
					              <li><a>Wan Chai</a></li>
					              <li><a>Sham Shui Po</a></li>
					              <li><a>Kowloon City</a></li>
					              <li><a>Kwun Tong</a></li>
					              <li><a>Wong Tai Sin</a></li>
					              <li><a>Yau Tsim Mong</a></li>
					              <li><a>Islands</a></li>
					              <li><a>Kwai Tsing</a></li>
					              <li><a>North</a></li>
					              <li><a>Sai Kung</a></li>
					              <li><a>Sha Tin</a></li>
					              <li><a>Tai Po</a></li>
					              <li><a>Tsuen Wan</a></li>
					              <li><a>Yuen Long</a></li>
					              <li><a>Other</a></li>
					            </ul>
					          </div>
			        		</div>
			        	</div>
							</div>

			        <div class="form-group radio-buttons">
			          <label class="radio-inline"><input type="radio" id="jobType" name="jobType" required>Temporary</label>
			          <label class="radio-inline"><input type="radio" name="jobType" required>Permanent</label>
			        </div>

			        <div class="form-group">
			          <textarea class="form-control" id="jobDescription" placeholder="Job Description" rows="4" required></textarea>
			        </div>

			        <button type="submit" id="continueButton" class="btn btn-success btn-wide" aria-hidden="true">
			          Continue
			        </button>
		        </form>
					</div>
				</div>
			</div>
		</div>
	<!-- // CREATE JOB MODAL -->

	<!-- TEMP JOB MODAL -->
		<div id="temporaryJobModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
						<h4 class="modal-title">Create Job Post (2/2)</h4>
					</div>
					<div class="modal-body">
						<form data-toggle="validator" role="form" id="tempSecForm">
							<div class="form-group">
								<div class="row">
									<div class="col-xs-4">
										<input type="number" class="form-control" id="positionsAvailable" placeholder="Positions" required>
									</div>
									<div class="col-xs-4">
										<input type="number" class="form-control" id="hourlyRateInput" placeholder="Hourly (HKD)" required>
									</div>
									<div class="col-xs-4">
										<div class="dropdown paymentMethodDropdown">
					            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" id="paymentMethod">
					              Payment Method
					            </button>
					            <ul class="dropdown-menu" aria-labelledby="paymentMethod">
					              <li><a>Cash</a></li>
					              <li><a>Cheque</a></li>
					              <li><a>Transfer</a></li>
					            </ul>
					          </div>
									</div>
								</div>
			        </div>
							<div class="form-group date-and-times">
		            <div class="form-group">
		              <input
		                type="text"
		                class="datepicker-here form-control inline"
		                placeholder="Start Date" required/>
	                <span class="to">&nbsp;&nbsp;&nbsp;</span>
		              <input
		                type="number"
		                class="form-control inline"
		                placeholder="Number of days" required/>
		            </div>
		            <div>
		              <input
		                type="text"
		                autocomplete="off"
		                placeholder="Start Time"
		                class="form-control time-select inline" required/>
		              <span class="to"> to </span>
		              <input
		                type="text"
		                placeholder="End Time"
		                disabled
		                class="form-control time-select inline" required/>
		            </div>
		          </div>

							<div class="row">
								<div class="col-xs-4">
									<button class="btn btn-warning btn-wide" aria-hidden="true" data-dismiss="modal" data-toggle="modal" data-target="#createJobModal">
					          Back
					        </button>
								</div>
								<div class="col-xs-8">
					        <button type="submit" class="preview-job-btn btn btn-success btn-wide" aria-hidden="true">
					          Preview Job Post
					        </button>
								</div>
							</div>
		        </form>
					</div>
				</div>
			</div>
		</div>
	<!-- // TEMP JOB MODAL -->

	<!-- PERM JOB MODAL -->
		<div id="permanentJobModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
						<h4 class="modal-title">Create Job Post (2/2)</h4>
					</div>
					<div class="modal-body">
						<form data-toggle="validator" role="form" id="permSecForm">
							<div class="form-group">
								<!-- <div class="row">
									<div class="col-xs-6"> -->
										<input type="number" class="form-control inline" id="salaryInput" placeholder="Salary (HKD)" required>
										<span class="to"> to </span>
									<!-- </div>
									<div class="col-xs-6"> -->
										<input type="number" class="form-control inline" id="salaryRange" placeholder="Salary Max (optional)">
									<!-- </div>
								</div> -->
							</div>
							<div class="form-group radio-buttons">
			          <label class="radio-inline"><input type="radio" id="salaryUnit" name="salaryUnit" required>Monthly</label>
			          <label class="radio-inline"><input type="radio" name="salaryUnit" required>Weekly</label>
			          <label class="radio-inline"><input type="radio" name="salaryUnit" required>Daily</label>
			          <label class="radio-inline"><input type="radio" name="salaryUnit" required>Hourly</label>
			        </div>
							<div class="row">
								<div class="col-xs-4">
									<button class="btn btn-warning btn-wide" aria-hidden="true" data-dismiss="modal" data-toggle="modal" data-target="#createJobModal">
					          Back
					        </button>
								</div>
								<div class="col-xs-8">
					        <button type="submit" class="preview-job-btn btn btn-success btn-wide" aria-hidden="true">
					          Preview Job Post
					        </button>
								</div>
							</div>
		        </form>
					</div>
				</div>
			</div>
		</div>


		<div id="signInModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" type="button" data-dismiss="modal" aria-hidden="true">x</button>
						<h4 class="modal-title">Sign in to post</h4>
					</div>
					<form data-toggle="validator" role="form">
						<div class="modal-body">
							<div class="preview-card">
								<h5 class="preview-header">
									Your Post Info
									<span class="glyphicon glyphicon-pencil" data-dismiss="modal" data-target="#createJobModal" data-toggle="modal"></span>
								</h5>
								<div class="row">
									<div class="col-xs-4 postInfoLabel">Job Position:</div>
									<div class="col-xs-8 postInfo">placeholder</div>
								</div>
								<div class="row">
									<div class="col-xs-4 postInfoLabel">Job Category:</div>
									<div class="col-xs-8 postInfo">placeholder</div>
								</div>
								<div class="row">
									<div class="col-xs-4 postInfoLabel">Job Type:</div>
									<div class="col-xs-8 postInfo">placeholder</div>
								</div>
								<div class="row">
									<div class="col-xs-4 postInfoLabel">Job Description:</div>
									<div class="col-xs-8 postInfo">placeholder</div>
								</div>
								<div class="row">
									<div class="col-xs-4 postInfoLabel">Address:</div>
									<div class="col-xs-8 postInfo">placeholder</div>
								</div>
								<div class="row">
									<div class="col-xs-4 postInfoLabel">District:</div>
									<div class="col-xs-8 postInfo">placeholder</div>
								</div>
								<div class="row tempPostInfo">
									<div class="col-xs-4 postInfoLabel">Hourly Rate</div>
									<div class="col-xs-8 postInfo">placeholder</div>
								</div>
								<div class="row tempPostInfo">
									<div class="col-xs-4 postInfoLabel">Payment Method</div>
									<div class="col-xs-8 postInfo">placeholder</div>
								</div>
								<div class="row tempPostInfo">
									<div class="col-xs-4 postInfoLabel">Position(s) Available:</div>
									<div class="col-xs-8 postInfo">placeholder</div>
								</div>
								<div class="row tempPostInfo">
									<div class="col-xs-4 postInfoLabel">Start Date:</div>
									<div class="col-xs-8 postInfo">placeholder</div>
								</div>
								<div class="row tempPostInfo">
									<div class="col-xs-4 postInfoLabel">Number of days:</div>
									<div class="col-xs-8 postInfo">placeholder</div>
								</div>
								<div class="row tempPostInfo">
									<div class="col-xs-4 postInfoLabel">Job Times:</div>
									<div class="col-xs-8 postInfo">placeholder</div>
								</div>
								<div class="row permPostInfo">
									<div class="col-xs-4 postInfoLabel">Salary:</div>
									<div class="col-xs-8 postInfo">placeholder</div>
								</div>
								<div class="row permPostInfo">
									<div class="col-xs-4 postInfoLabel">Salary Max:</div>
									<div class="col-xs-8 postInfo">N/A</div>
								</div>
								<div class="row permPostInfo">
									<div class="col-xs-4 postInfoLabel">Salary Unit:</div>
									<div class="col-xs-8 postInfo">placeholder</div>
								</div>
							</div>
							<div class="row">
			          <div class="form-group col-xs-6">
			            <label for="inputEmail" class="sr-only">
			              Email
			            </label>
			            <input type="email" class="form-control" id="inputEmail" placeholder="Email" data-error="That email address is invalid" required>
			            <div class="help-block with-errors"></div>
			          </div>
			          <div class="form-group col-xs-6">
			            <label for="inputPassword" class="sr-only">
			              Password
			            </label>
			            <input type="password" data-minlength="8" class="form-control" id="inputPassword" data-error="Minimum of 8 characters" placeholder="Password" data-minlength="6" required>
									<div class="help-block with-errors"></div>
			          </div>
							</div>
			        <div class="row collapse" id="registrationDetails">
		            <div class="form-group col-xs-6">
			            <label for="inputCompanyName" class="sr-only">
			              Company Name
			            </label>
			            <input type="text" class="form-control" id="inputCompanyName" placeholder="Company Name">
		            </div>
			          <div class="form-group col-xs-6">
			          	<label for="inputPhone" class="sr-only">
			              Phone Number
			            </label>
			            <input type="phone" class="form-control" id="inputPhone" placeholder="Phone Number">
		            </div>
			        </div>
						</div>
		        <div class="modal-footer" style="text-align: left;">
							<a href="#" data-toggle="collapse" data-target="#registrationDetails" style="color: #0088cc;">
								Or sign up to post job
							</a>
		          <button type="submit" class="btn btn-info" id="authAndPostButton">
		            Sign in to post job
		          </button>
		        </div>
	        </form>
				</div>
			</div>
		</div>

		<!-- Vendor -->
		<!--[if lt IE 9]>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<![endif]-->
		<!--[if gte IE 9]><!-->
		<script src="css/vendor/jquery/jquery.js"></script>
		<!--<![endif]-->


		<script src="css/vendor/jquery.appear/jquery.appear.js"></script>
		<script src="css/vendor/jquery.easing/jquery.easing.js"></script>
		<script src="css/vendor/jquery-cookie/jquery-cookie.js"></script>
		<script src="css/vendor/bootstrap/js/bootstrap.js"></script>
		<script src="css/vendor/common/common.js"></script>
		<script src="css/vendor/jquery.validation/jquery.validation.js"></script>
		<script src="css/vendor/jquery.stellar/jquery.stellar.js"></script>
		<script src="css/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
		<script src="css/vendor/jquery.gmap/jquery.gmap.js"></script>
		<script src="css/vendor/jquery.lazyload/jquery.lazyload.js"></script>
		<script src="css/vendor/isotope/jquery.isotope.js"></script>
		<script src="css/vendor/owl.carousel/owl.carousel.js"></script>
		<script src="css/vendor/magnific-popup/jquery.magnific-popup.js"></script>
		<script src="css/vendor/vide/vide.js"></script>

		<!-- Theme Base, Components and Settings -->
		<script src="js/theme.js"></script>

		<!-- Specific Page Vendor and Views -->
		<script src="css/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="css/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<script src="css/vendor/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
		<script src="css/vendor/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
		<script src="css/vendor/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
		<script src="css/vendor/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
		<script src="css/vendor/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
		<script src="css/vendor/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
		<script src="css/vendor/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
		<script src="css/vendor/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
		<script src="css/vendor/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

		<script src="css/vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
		<script src="js/views/view.home.js"></script>

		<!-- Theme Custom -->
		<script src="js/custom.js"></script>

		<!-- Create Post Related Scripts -->
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwgejdknqxK_7RDtdus9aVE2lzKrUeW5M&libraries=places"></script>
		<script src="js/moment.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="js/datepicker/datepicker.min.js"></script>
	  <script src="js/datepicker/timepicker.min.js"></script>
	  <script src="js/datepicker/en.js"></script>
	  <script src="js/createpost.js"></script>

		<!-- Theme Initialization Files -->
		<script src="js/theme.init.js"></script>

		<!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-64263788-1']);
			_gaq.push(['_trackPageview']);

			(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</body>
</html>
