<!DOCTYPE html>
<html>
  <head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>GoGENIE Staffing Solution - Temporary Staffing Made Easy. We can also help you with Part Time and Full Time Recruitment</title>

    <meta name="description" content="GoGENIE combats the headache of hiring temporary workers. Our mobile app provides a platform for employers to post and hire a temporary worker in as fast as 5 minutes. GoGENIE eliminates market inefficiency and offers businesses quality temporary workers.  Our vision at GoGENIE is to become the global platform for all work placements where employers and job seekers can hire or work for anyone, anywhere, any time.">
    <meta name="keywords" content="你口袋裏的助手 新一代流動兼職兵團 職神 GoGENIE gogenieapp 炒散週記 快錢 散工 外快 賺錢 求職 招職 招聘 搵工 快錢 兼職 判頭 打工 炒散 蛇頭 筍工 兼職 臨時工 working holiday 工作假期 揾錢 part-time job ManPower Adecco 彈性工作 散工生涯 散工買樓夢 散工夢飛翔 炒散兼職王 自由工作 搵錢話咁易 搵錢快靚正 炒散變富豪 炒散無難度 Parttime Part time Fulltime Job Work
    Temporary Staffing Recruitment Money Salary Wage Income">
    <meta name="author" content="職神 - GoGENIE">

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="職神 - GoGENIE">
    <meta itemprop="description" content="新一代流動兼職兵團 ">
    <meta itemprop="image" content="<%= asset_path('ogimage-facebook.jpg') %>">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="職神 - GoGENIE">
    <meta name="twitter:description" content="新一代流動兼職兵團 ">

    <!-- Open Graph data -->
    <meta property="og:title" content="職神 - GoGENIE" />
    <meta property="og:url" content="http://www.gogenieapp.com/" />
    <meta property="og:image" content="<%= asset_path('ogimage-linkedin.jpg') %>" /> <!-- 180x110 Image for Linkedin -->
    <meta property="og:image:width" content="180" />
    <meta property="og:image:height" content="110" />
    <meta property="og:image" content="<%= asset_path('ogimage-facebook.jpg') %>" /> <!-- 200x200 Image for Facebook -->
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />
    <meta property="og:description" content="新一代流動兼職兵團" />
    <meta property="og:site_name" content="職神 - GoGENIE" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/genie/genie-favicon.ico" type="image/x-icon" />
    <!-- <link rel="apple-touch-icon" href="img/apple-touch-icon.png"> -->

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="css/theme.css">
    <link rel="stylesheet" href="css/theme-elements.css">
    <link rel="stylesheet" href="css/theme-blog.css">
    <link rel="stylesheet" href="css/theme-shop.css">
    <link rel="stylesheet" href="css/theme-animate.css">

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="vendor/rs-plugin/css/settings.css" media="screen">
    <link rel="stylesheet" href="vendor/rs-plugin/css/layers.css" media="screen">
    <link rel="stylesheet" href="vendor/rs-plugin/css/navigation.css" media="screen">

    <link rel="stylesheet" href="vendor/circle-flip-slideshow/css/component.css" media="screen">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="css/skins/default.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- Head Libs -->
    <script src="vendor/modernizr/modernizr.js"></script>

    <!--[if IE]>
      <link rel="stylesheet" href="css/ie.css">
    <![endif]-->

    <!--[if lte IE 8]>
      <script src="vendor/respond/respond.js"></script>
      <script src="vendor/excanvas/excanvas.js"></script>
    <![endif]-->

  </head>
  <body>
    <div class="body">
      <header id="header" data-plugin-options='{"stickyEnabled": true, "stickyEnableOnBoxed": true, "stickyEnableOnMobile": true, "stickyStartAt": 57, "stickySetTop": "-57px", "stickyChangeLogo": true}'>
        <div class="header-body">
          <div class="header-container container">
            <div class="header-row">
              <div class="header-column">
                <div class="header-logo">
                  <a href="index.html">
                    <img alt="Porto" width="158" height="100" data-sticky-width="87" data-sticky-height="50" data-sticky-top="50" src="img/genie/genie-logo_eng.png">
                  </a>
                </div>
              </div>
              <div class="header-column">
                <div class="header-row">
                  <nav class="header-nav-top">
                    <ul class="nav nav-pills">
                      <li>
                        <a href="#" class="dropdown-menu-toggle" id="dropdownLanguage" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          <img src="img/blank.gif" class="flag flag-us" alt="English" /> English
                          <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownLanguage">
                          <li><a href="index.html"><img src="img/blank.gif" class="flag flag-us" alt="English" /> English</a></li>
                          <li><a href="ch_index.html"><img src="img/blank.gif" class="flag flag-hk" alt="中文" /> 中文</a></li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
                <div class="header-row">
                  <div class="header-nav">
                    <button class="btn header-btn-collapse-nav" data-toggle="collapse" data-target=".header-nav-main">
                      <i class="fa fa-bars"></i>
                    </button>
                    <ul class="header-social-icons social-icons hidden-xs">
                      <li class="social-icons-facebook"><a href="https://www.facebook.com/gogenieapp" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    </ul>
                    <div class="header-nav-main header-nav-main-effect-1 header-nav-main-sub-effect-1 collapse">
                      <nav>
                        <ul class="nav nav-pills" id="mainNav">
                          <li class="active">
                            <a href="index.html" title="Hire Staff">
                              Hire Staff
                            </a>
                          </li>
                          <li>
                            <a href="work.html">
                              Find Work
                            </a>
                          </li>
                          <li>
                            <a href="http://blog.gogenieapp.com/" target="_blank" title="Blog">
                              Blog
                            </a>
                          </li>
                          <li>
                            <a href="#footer">
                              Contact Us
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <section class="tnc">
  <h1 class="text-center">GoGENIE條款和細則</h1>
  <p>在此所述之各項條款和細則（統稱「本協議」）乃閣下與GoGENIE, Inc.（此乃依據香港法律成立之有限公司）、其子公司、附屬公司及聯營公司（統稱「本公司」、「我方」或「我們」）之間之法律協議。如要使用本服務（具體細節見下）及相關應用程式（具體細節見下），閣下必須同意以下條款和細則。倘閣下欲使用或接受任何由本公司提供之服務（統稱「本服務」）以及下載、安裝或使用任何由本公司為了讓閣下使用本服務而提供之相關應用程式（統稱「相關應用程式」），閣下謹此表示閣下承認並同意受本協議條款和細則之約束以及將來之修改及附加條文之約束，具體資料將不時在網站更新（網址為https://www.gogenieapp.com/terms 或透過本服務公佈。</p>
  <p>本公司保留權利隨時修改本協議條款和細則或修改本服務或相關應用程式之相關政策之權利。本協議之更新版本一經本服務或相關應用程式發佈，將即時生效。</p>
  <p>因此，閣下有責任定期審閱本協議。協議如有修訂，若閣下繼續使用本服務或相關應用程式，則表示閣下同意該等修訂。</p>
  <p>本公司既不提供招聘服務，亦非獵頭公司。第三方僱主有權自行決定是否透過使用本服務或相關應用程式提供工作。本公司可以為閣下提供資訊及方法接洽該等第三方僱主，但無意為閣下提供直接招聘服務或以任何方式提供類似獵頭公司之服務。對於該等第三方向閣下提供之任何招聘服務，本公司一概不負任何責任或承擔任何義務。</p>
  <ol>
    <li>
      <h2>本服務將任務承包方與客戶緊密聯繫起來。</h2>
      <p>本服務是一個溝通交流平台，使得客戶能夠與任務承包方進行交流。客戶乃從任務承包方獲得工作服務（以下簡稱「任務」）之個人及／或企業，為任務承包方之客戶，而任務承包方乃尋求為客戶執行任務之個人及／或企業（以下簡稱「任務承包方」）。任務承包方及客戶於下文統稱為「用戶」。</p>
      <p>服務只提供相關平台。</p>
      <p>本服務是容許多位用戶之間交流以完成工作任務的平台，惟本公司不對用戶之表現負責，亦不能控制其品質、時間、合法性以及服務供應之成敗或涉及到任務承包商客戶的其他方面，本公司亦不會就服務的完整性、責任或用戶的任何行為或疏漏承擔責任。本公司無法控制任務承包商所提供服務的品質、時間或合法性。在用戶所要求及提供的服務進行的過程中，無論是在公共場合、私下或線下互動時所發現的適用性、可靠性、時間性或準確性，本公司不作任何聲明陳述。</p>
    </li>
    <li>
      <h2>用戶資料審查</h2>
      <p>客戶及任務承包商在登記之前以及在使用服務的過程中（包括但不限於在某一國家、州／省、地方級別進行的身份確認以及完整犯罪紀錄調查、破產／償付能力背景調查），可能會被進行全方位的資料審查（如有需要使用第三方服務）。在此，用戶應當授權本公司在有需要時進行背景調查，所進行的背景調查的頻密程度應當符合當前法規在管轄司法權方面的規定。</p>
      <p>儘管本公司可以對用戶進行上述背景調查，但本公司不能保證每位用戶都符合其聲明內容。因此，本公司不能也無法保證提供服務的準確性、身份的可靠性、背景調查資訊或其他任何本服務中所提供的資訊。</p>
      <p>在與其他用戶進行互動的過程中，就好像與其他閣下不認識的人交往時一樣，閣下應當隨時保持警惕，保護閣下的個人財產及安全。本公司及其相關公司或授權公司對於任何用戶在線上或線下使用本服務而負責。在此，閣下聲明本公司及其相關公司或授權公司免於有關責任。本公司及其相關公司或授權公司不對用戶在使用服務過程中所產生的任何索賠、受傷或損失負責任。</p>
    </li>
    <li>
      <h2>帳單及付款</h2>
      <p>本服務的用戶直接與其他用戶簽訂任務合同。本公司將不作為任務或服務合同中的任何一方。</p>
      <p>使用本服務的用戶將被要求向本公司及本公司的支付服務商提供其信用卡或銀行帳戶資料（以下簡稱「PSP」）。</p>
      <p>客戶有責任支付每一項任務的發票（以下簡稱「發票」）。該發票包括雙方所同意、由任務承包方所提供的任務的價格細則（「任務支付」），在適用的情況下任何雙方同意支付給任務承包方的與專案有關的額外費用、小費或獎金以及基於任務支付金額基礎上，本公司對於該服務的評估費用。</p>
      <p>任務承包商可能會被要求向本公司提供銀行帳戶資訊。或者，他們可能會被要求在PSP中登記，同意PSP服務細則，並進行在PSP的要求下資料審查流程來在PSP內部建立帳戶。由本公司保存的承包商任務與PSP之間的服務細則見此。（PSP合約）接受這些使用細則代表每位任務承包商都同意他們已經下載或列印PSP合約，並已經檢討和同意。請注意，本公司並不是PSP合約中的一方。PSP以及PSP合約中列明的任何其他方都是PSP合約所涉及的各方。本公司對於PSP合約中的任務承包商沒有任何責任。</p>
      <p>客戶透過本服務或電子郵件收到任務完成確認起的24小時內，客戶需要授權本公司來（一）向PSP提供客戶支付細節，以便PSP進行處理；或（二）透過電子郵件來告知客戶任何由於使用該服務而產生的費用清單及發票；在適當的情況下，提供任務支付清單、拖欠任務承包方的任何額外費用以及消費或獎金。任務價格細則中有所規定：如果閣下預訂了一項任務，但在其完成前取消該任務，閣下可能需要支付取消費用。</p>
      <p>在以下兩方面，本公司保留自行決定的權利（但不包括其必須的義務）：（一）凍結任務支付以及額外費用；（二）退款，向PSP提供處理該項目的貸款或相關安排。</p>
      <p>客戶負責支付任何在合約範圍下（不包括本公司的收入所得稅）使用該服務而產生的相關稅款（可能的情況下，包括增值稅）。</p>
    </li>
    <li>
      <h2>免責</h2>
      <p>本服務只負責為連接各用戶提供平台。本公司並不存在於各用戶之間的實際接觸中或是在完成任務的過程中，因此，在閣下與一個或多個用戶產生糾紛時，本公司（以及我們的各個辦公室、董事、代理人、投資者、附屬公司及僱員）都免責於任何索賠、任何種類或性質的、可知的及未知的、可懷疑或一定的、公開的或保密的、由糾紛產生的或與糾紛相關的要求或損失（實際損失或由此產生的額外損失）。</p>
      <p>本公司不承認一切本服務用戶之間所產生的賠償責任。</p>
    </li>
    <li>
      <h2>公共區域；可接受使用方式</h2>
      <p>本服務可能含有人物介紹、電子郵件系統、網誌、資訊板、應用程式、職位發佈、網上聊天區、新聞組、論壇、社群團體以及／或用於與其他用戶進行交流的資訊或交流設備（「公共區域」）。閣下可能只使用團體領域來發送或接收適用於某一論壇的資訊及相關物件。</p>
      <p>如果沒有限制，在使用本服務的過程中，閣下不可以：
        <ul>
          <li>誹謗、辱駡、騷擾、跟踪、威脅或以其他方式侵犯他人，包括本公司員工的合法權利（例如但不限於隱私權和公開權）。</li>
          <li>發表、張貼、上載、分發或散佈任何褻瀆、誹謗、侵權、淫穢或非法的主題、名稱、材料或資訊。</li>
          <li>使用本服務的任何目的為（包括但不限於）：發佈或完成違反當地、州／省（如適用）、國家或國際法的任務。</li>
          <li>上載包含侵犯任何第三方的知識產權內容（或隱私權或公開權）的軟體或其他資料檔案。</li>
          <li>上載含有病毒、木馬程式、已損壞的檔案或任何其他類似可能會損害他人電腦操作的軟件。</li>
          <li>發表或上載閣下沒有必要使用權利或許可權的內容。</li>
          <li>透過本服務發佈任何與本服務不相關的廣告或推銷任何商品或服務。</li>
          <li>開展或轉寄調查、競賽、傳銷或連鎖信件。</li>
          <li>假冒他人或其他用戶，或允許任何其他人或實體使用閣下的身份張貼或查看回應。</li>
          <li>重複張貼同樣的工作（「垃圾郵件」）。垃圾郵件是嚴格禁止的。</li>
          <li>下載另一位用戶所發佈的檔案，而知道或理應知道該檔案不能合法地在網站發佈。</li>
          <li>限制或禁止任何其他用戶使用和享受平台的公共區域。</li>
          <li>在未事先得到本公司的書面同意的情況下，暗示或陳述閣下獲得本公司授權的聲明。</li>
          <li>使用網絡機器人、網絡蜘蛛、手動和／或自動處理程式或設備進行資料挖掘、資料抓取、以任何方式獲取或索引本服務。</li>
          <li>攻擊或干擾服務、伺服器或連接的網路。</li>
          <li>為閣下的個人或商業用途，調整、變更、授權或翻譯本服務。</li>
          <li>對於任何著作權、商標權或由公司擁有的專有標誌和權利進行可見的或其他形式的去除或修改。</li>
          <li>上載的內容是有進攻性的和／或有害的，其中包括但不限於主張、贊同、縱容或提倡種族主義、偏見、仇恨或對任何個人或群體的任何形式的身體傷害的內容。</li>
          <li>上載含有對於18歲以下未成年人的虐待、暴力和性的材料內容。</li>
          <li>使用違反市場準則的服務。</li>
          <li>使用該服務來招攬任何其他業務、網站或服務，或以其他方式與用戶進行招聘、承包或以本文所述無關的任何用途使用本服務。</li>
          <li>透過電子或其他手段，使用本服務來收集用戶的用戶名及／或電子郵件位址。</li>
          <li>在閣下的帳戶已被暫停或終止後，使用不同的用戶名和身份繼續註冊。</li>
        </ul>
      </p>
      <p>閣下明白所有針對於公共區域的意見公諸於眾。在與公共區域用戶進行交流時，閣下將公開閣下的姓名或登錄名。而本公司將不承擔任何用戶在公共區域發佈的任何資訊或資料。</p>
    </li>
    <li>
      <h2>合約終止和暫停</h2>
      <p>本公司和閣下之間的合約期限為無限期。</p>
      <p>本公司可能會在任何時候、以任何原因終止或暫停閣下使用本服務的權利。合約的終止將會以書面或電子郵件的形式提交給閣下。合約的終止在該通知交付後立即生效。</p>
      <p>在任何情況下，如果閣下違反本協議（包括市場準則）的任何條款或在服務使用過程中本公司不時發佈的任何政策，或者本公司以其他方式發現閣下有從事不適當和／或攻擊性的行為，本公司可以終止或暫停閣下使用本服務。如果本公司因為以上這些原因終止或暫停閣下使用本服務，我們將不會退換閣下帳戶未使用的餘額。如果因任何理由本公司終止或暫停閣下的帳戶，閣下將被禁止用閣下自己的身份、假冒的或借來的用戶名，或任何第三方的名稱建立或註冊新帳戶，即使閣下可能代表第三方。除了終止或暫停閣下的帳戶，本公司還將保留採取適當法律行動的權利，包括但不限於尋求民事、刑事和強制賠償的權利。</p>
      <p>即使閣下使用被終止或暫停服務的權利，本協定將對閣下繼續強制有效。</p>
      <p>閣下可以透過停止使用所有服務來在任何時間終止本協議。所有根據其性質應在本協議期滿或終止應繼續有效的部分，在本協定期滿或終止生效以後繼續有效。</p>
    </li>
    <li>
      <h2>帳戶、密碼、安全及移動電話的使用</h2>
      <p>閣下必須在本公司註冊並建立帳戶來使用本服務。閣下是閣下帳戶的唯一合法用戶。閣下有責任保證任何閣下或公司所提供的、用來獲得本服務的密碼及帳戶號碼的保密性。對於閣下的密碼和帳戶，閣下是唯一一個負有全責的人。本公司不會檢查任何用戶帳戶的使用情況，並特此否認從中衍生出的任何賠償責任。如果閣下懷疑任何未經授權的一方可能會使用閣下的密碼或帳戶或懷疑任何安全漏洞的情況，閣下應當立即聯繫公司。</p>
      <p>提供閣下的手機號碼並使用本服務，代表閣下在此同意我們使用閣下的手機號碼進行通話和發送，以便提供和改進服務。本公司將不會評估任何電話或資訊的費用，但閣下的無線運營商可能會收取標準的訊息費或其他費用。閣下可以透過本網站或公司的流動應用程式修改帳戶設置，或透過電子郵件 cs@gogenieapp.com 可以選擇不接收短訊。</p>
    </li>
    <li>
      <h2>您的資料及相關資訊</h2>
      <p>「您的資料」是指閣下為使用本服務而提供給本公司或註冊過程相關的其他用戶的任何資訊和材料，包括但不限於在公共區域使用而發佈或傳遞的資訊。閣下全權負責閣下的資訊，我們只是閣下網上發佈和傳播個人資訊的被動渠道。在本節中描述的用戶提供的材料被統稱為「用戶生成內容」。閣下在此聲明並向公司保證，閣下的資料（一）其非虛假、不準確、不完整或具誤導性；（二）不是詐騙或涉及銷售假冒或被盜的物品的；（三）沒有侵犯任何第三方的版權、專利、商標、商業秘密或其他專有權利、公開權或隱私權；（四）將不會違反任何法律、法令、條例或規章（包括但不限於有關出口管制、消費者保護、不公平競爭、反歧視或虛假廣告）；（五）不含誹謗、中傷、非法恐嚇或非法騷擾的內容；（六）將含有淫穢、兒童色情或對未成年人有害的內容；（七）不包含任何病毒、木馬程式、蠕蟲、定時炸彈，刪除或其他電腦編程程式和／或惡意軟體及其他電腦病毒，旨在破壞、侵入、秘密截取或侵佔任何系統、資料或個人資訊；及（八）不會因互聯網服務供應商或其他客戶或供應商的服務對公司產生賠償責任或造成公司損失（全部或部分）。</p>
      <p>本服務擁有與特定任務承包商檢討相關的用戶生成內容。該檢討的意見並不代表公司的意見，並未經公司審核透過。每位元客戶都應該自行研究某任務承包商的選擇是否正確。閣下同意，本公司不對任何用戶生成內容負責。</p>
      <p>在此，閣下授予本公司一項非獨家、環球性的、永久、不可撤銷、免版稅的、無再授權（多層授權）的權利。本公司有權在任何已知和尚未知的媒體中行使所有版權、宣傳權以及任何「您的資料」含有的任何其他權利，來提供或改善服務。</p>
      <p>每個提供給本公司的任何錄影帶、電影、唱片、照片、聲音或所有相關的工具、音樂或其他聲音效果，以換取使用本服務權利的任務承包商，在此不可撤銷地授予本公司的非獨家、繳足、免版稅、可轉讓、轉授、全球範圍內無限制、永久的權利：
        <ul>
          <li>使用任務承包商提供給本公司任何錄影帶、電影、紀錄或照片，使用、複製、修改任務承包商的圖片或創意衍生品、圖片輪廓和圖片具有物理相似性的其他複製品（如同樣可能出現在任何靜態相機照片和／或電影膠片或影片）（統稱為「物理相似性」），在所有的媒體的展覽（或與展覽相關的場景）、出品、展示、表演、傳播、廣播上，包括但不限於網際網路以及任務承包商任何與服務相關的影片或圖片。</li>
          <li>在所有的媒體上，複製該任務承包商與服務相關的聲音以及其他所有相關的工具、音樂及其他音效（統稱「聲音」）。</li>
          <li>在任何媒體的廣告、市場行銷以及／或服務推廣中使用，並允許他人使用該任務承包商的具有物理相似性的產品及聲音。</li>
          <li>使用並允許他人使用該任務承包商與服務有關的名稱以及身份。</li>
        </ul>
      </p>
      <p>每個任務承包商在此放棄所有權利，並使本公司免責，並不得對於相關方的已知或未知的行為提起訴訟，也不會因誹謗、侵犯隱私權、公開權、人格或任何類似的事情，或基於或關於本服務的使用及任務承包商的身份，肖像或聲音的使用對任何此類第三方提出任何索賠或訴訟。</p>
      <p>所有任務承包商承認，本公司概不拖欠任何由使用任務承包商根據本協定所提供的錄音而產生的費用或其他報酬。無論是初次或後續傳輸或播放。任務承包商進一步確認，本公司概不負責因任務承包商的錄製或參與任何錄製包括錄音資料丟失而產生的任何費用。</p>
    </li>
    <li>
      <h2>與其他網站的鏈結</h2>
      <p>本服務中與其他網站的鏈結（如超鏈結）並不意味著本公司對於該網站或其內容有授權。</p>
      <p>這些鏈結被視為資訊服務，僅供參考和便利。公司對這些網站並無監控，對其內容不負責任。本服務中現存的指向這些網站的鏈結（包括但不限於，在公司服務框架下的外部網站以及任何相關的廣告）並不意味公司擁有這些網站材料的所有權，或與網站人員有任何合作。評估這些網站內容和資訊的有用性是您自己的責任。</p>
      <p>由第三方監控、擁有及操作的受管理網站的使用應符合使用及隱私條款和細則。其於本公司的服務細則或隱私政策無關。您訪問該第三方網站所產生的風險自負。對於在服務中您使用及／或看到的任何網站或其他與鏈結相關的資訊，公司明確否認責任。您在此同意公司對於使用中可能出現的服務鏈結所造成的危害不承擔任何責任。</p>
      <p>作為服務功能的一部分，您可以將您的帳戶與線上帳戶連結，您可能需要第三方服務提供商（每個這樣的帳戶都配有「第三方帳戶」）。您有兩種方法：（一）透過本服務提供您的第三方帳戶登錄資訊；或（二）根據允許您使用第三方帳戶的細則與條款的規定，允許本公司訪問您的第三方帳戶這表示您有權透露您的第三方帳戶登錄資訊公司和／或授予公司訪問您的第三方帳戶（包括但不限於，使用本文所描述的目的），而不違背條款與細則中規定的關於您使用適用的第三方帳戶的部分，您無需支付公司任何費用，或讓公司收到第三方服務提供者限制。透過授予公司訪問任何第三方帳戶，您明白，（i）本公司可以登入、使用和儲存（如適用）您所提供並存儲在您的第三方帳戶（以下簡稱「SNS的內容」）的任何內容，所以它可以透過您的帳戶存在於本服務，包括但不限於您的朋友列表中，及（ii）本公司可提交並獲得您的第三方帳戶額外的資訊，當您將您的帳戶與第三方帳戶連接時，您將收到通知。除非另有規定，否則所有的SNS內容都應被認為是用戶生成內容，並以這些服務條款為目的。根據您選擇的第三方帳戶以及您在第三方帳戶中所做的隱私設置，您發佈在第三方帳戶中的個人身份鑒別資訊可能在本服務中透過您的帳戶進行訪問。請注意，如果第三方帳戶或相關服務不可用，或公司訪問此類第三方帳戶的權利被第三方服務供應商切斷，那麼本服務將不再支援SNS內容。您將有權利在任何時間登出本服務中您的帳戶與第三方帳戶直接的連接。請注意，您與提供第三方帳戶的第三方服務商之間的關係由您自己及第三方服務商全權負責。公司不負責為任何目的檢討任何SNS內容，包括但不限於：準確性、合法性或非侵權。公司不對任何SNS內容負責。您承認並同意本公司可以因為鑒定身份的目的以及告知您的聯繫人中有誰已經註冊了本服務的目的存取您的與第三方帳戶相關聯的電子郵箱通訊錄，以及您儲存在您的移動設備上或平板電腦裏的聯繫人名單。如果您有需要，請致 ¬admin/support@gogenieapp.com??，本公司將登出本服務與您的第三方帳戶直接的關聯，並刪除所有存儲在公司伺服器上的關於您第三方帳戶的資訊，除了與您的帳戶相關聯的用戶名、用戶照片。</p>
    </li>
    <li>
      <h2>工作人員分級以及扣款</h2>
      <p>每位用戶保證其用戶工作人員的分級，確定其是單獨的承包商或建立在有效的法律規章上的僱員。</p>
      <p>用戶並沒有權利代表公司（無論是暗示性或有意的）達成任何書面或口頭授權。每位元用戶承認公司在任何情況下都沒有監管、引導或控制任務承包商的工作或完成任務的方式。公司並不為任務承包商制定工作時數及工作地點。公司將不會為某一任務提供任何所需器材、勞力或材料。</p>
      <p>本服務並不是招聘服務，公司也不是任何用戶的任務承包商。因此，公司將不承擔任何稅款或扣繳責任，包括但不限於與您使用的用戶的服務相關的失業保險、任務承包商的責任保險、增值稅、社會保障和工資預提稅（或類似的，如果適用的話）。</p>
      <p>在任務承包商被錯誤歸類為獨立的承包商的情況下，對於法院、仲裁員、政府機構或其他機構的判斷所產生的任何賠償責任（包括但不限於稅收、罰款、利息和律師費），任何關於公司是任務承包商或合作承包商的索賠要求，以及圍繞就業相關法律的索賠，如終止就業、就業歧視、騷擾或報復，以及加班工資、病假、節假日或假期工資、退休福利、工人的薪酬福利、失業救濟金，或任何其他僱員福利的任何索賠，您必須同意賠償，不會追究，並捍衛公司免受任何索賠。</p>
    </li>
    <li>
      <h2>知識產權</h2>
      <p>所有的文字、圖形、編輯內容、資料、格式、圖形、設計、HTML的外觀和使用體驗、音樂、聲音、圖像、軟體、影片、設計、字體和其他內容（統稱為「專有資料」），用戶透過該服務看到或讀到的內容由公司所有，但不包括公司擁有使用權的用戶生成的內容。所有媒體上的、關於現有的或將來的各種科技的專有材料的各種形式都受到保護。公司擁有的所有專利材料，以及根據香港法例第528章《版權條例》（以下簡稱「條例」）的協調、選擇、排列和強化這種專利材料的彙編作品，在可行情況下可以進行修訂。專有的材料受版權，專利和其他專有權利、國內法和國際法的保護。用戶不得複製、下載、使用、重新設計、重新配置，或未經公司事先書面許可，轉發任何服務以及（如果適用）權利持有人的用戶生成內容。使用這些專利材料，除非在此處允許，否則未經公司以及（如適用）用戶生成內容的所有者事先許可，嚴禁使用。</p>
      <p>本公司的服務標誌及商標，包括但不限於本公司及本公司商標，是本公司所擁有的服務標誌。其他出現在服務中的標誌、服務標誌、商標以及／或商標名稱有其自己的所有人。在沒有得到所有人的事先許可的情況下，您不可以複製或使用這些標誌、商標或商標名稱。</p>
    </li>
    <li>
      <h2>版權投訴及版權代理</h2>
      <p>您承認機密資訊（定義見下文）是公司寶貴、特殊和獨特的資產，並同意您將不會為任何目的而披露、轉讓、使用（或試圖誘使他人披露、轉讓或使用）除了告知給公開授權的員工。該員工也必須遵守隱私資訊中的相關規定。您應以書面形式將未經授權而披露、轉移或使用機密資訊的任何情況及時通知公司。您必須盡最大努力防止未經授權的披露、轉移或使用機密資訊。在合約因為任何原因結束的情況下，您應當返還全部含有公司機密資訊的原件和副本。所謂「機密資訊」是指公司的任何商業秘密、機密和專有資訊以及其他所有公司一般不為公眾及第三方所知的資訊資料。第三方可能透過披露或使用這些資料而獲得經濟利益。保密資訊應被視為包括直接或間接地以書面、口頭或透過圖紙或觀察進行披露的技術資料、技術知識、研發、產品規劃、產品、服務、客戶、市場、軟體、開發、發明、工藝、配方、工藝、設計、圖紙、工程設計、硬體配置資訊、市場行銷、財務或其他商業資訊。</p>
    </li>
    <li>
      <h2>免責聲明</h2>
      <p>使用本服務的風險完全由您自行承擔。</p>
      <p>本服務是「原樣」提供，不提供任何形式的明示或暗示的擔保，包括但不限於產品的保險，針對特定目的的適用性和不侵權的保證。</p>
      <p>由本服務或與本服務相關的任何網站的內容的準確性或完整性，公司不作任何保證或表述，不承擔任何責任 ：（一）失誤、錯誤或不準確的內容；（二）由於您的登入和使用造成的任何性質的傷害或財產損失;（三）任何未經授權的登入或使用我們的安全伺服器和／或任何和所有存儲在其中的個人資訊和／或財務資訊。對發佈或提供由第三方經由本服務或經由任何超鏈結網站或經由廣告橫幅或經由其他形式的廣告所發佈的服務，本公司不保證、不授權、不負責。除規定外，本公司也不負責監測任何您和第三方服務或產品提供商之間的交易。透過任何仲介或在任何環境下購買的產品或服務，您應當努力判斷並在可能的情況下小心謹慎使用。</p>
      <p>在不違反前文的情況下，公司及其子公司或授權商都不會保證該服務不會中斷，或該服務沒有錯誤；同樣，他們也不保證使用該服務（或與服務相關的）所得到的結果的內容、守時性、準確性、可靠性、完整性。</p>
      <p>無論是線上還是線下，公司與其子公司或授權商都不會對於任何用戶的服務負責。</p>
      <p>公司與其子公司或授權商都不保證本服務不含病毒、蠕蟲、木馬程式或其他有害成分。</p>
      <p>公司與其子公司或授權商都不保證您所提供的任何個人資訊都不會被挪用、刪除、攔截、銷毀或被他人使用。</p>
      <p>此外，儘管本服務有客戶可以使用來加快GoGENIE選擇的功能，每位客戶還是要負責選擇他們自己的任務承包商，並磋商工作細節。本公司並不保證客戶任何購買的貨物或服務，並不會推薦任何特定的任務承包商。本公司不提供任何關於任務承包商職業鑒定、註冊或職稱的保障或保證。</p>
    </li>
    <li>
      <h2>豁免和責任限制</h2>
      <p>您承認並同意，公司只提供服務。您同意我們對您和第三方一定的責任局限性。因此，對於已經產生或可能產生，無論是已知的還是未知，使您或任何其他方無法使用本服務的任何損害、訴訟、索賠和／或爭論（統稱為「責任」），您同意不追究公司、子公司、授權商，及其在促銷、抽獎或競賽中的客戶，或任何上述當事人的代理人、僱員、管理人員、董事、公司客戶或參與者的責任。該損害包括但不限於任何責任行為所產生的損害，由於用戶的行為或疏失所產生的損害（包括但不限於跟踪、性騷擾或其他騷擾、身體暴力、損害個人財產的行為），與任何用戶的糾紛，由本公司、其子公司及授權商提供的任何指令、建議或服務，以及您個人資訊的毀壞。</p>
      <p>在任何情況下本公司、其子公司及授權商，或有關當事人的代理人、僱員、管理人員、董事、公司客戶或參與人員都不對任何直接、間接、偶然、繼發、特殊或懲罰性的損害負責任，同樣也不為所引起的無法使用服務承擔責任，即使已被告知同樣情況的可能性。有些州份不允許排除或限制偶發或後果性損害賠償，所以上述限制可能不適用於您。</p>
      <p>公司不接受關於本服務中服務品質和工作適用性所引起的損害賠償。</p>
      <p>儘管排除了上述因素，確定本公司、其子公司及授權商，或任何上述當事人的代理人、僱員、管理人員、董事、公司客戶或參與者，在任何情況下，無論是因合同、侵權、嚴格責任或其他情況所造成損失的累計總額超過您在六（6）個月內付給公司的總額，他們將負有賠償責任。</p>
    </li>
    <li>
      <h2>賠償</h2>
      <p>您在此同意賠償、保護並且聲明本公司、其董事、高級職員、僱員、代理、授權商、律師、獨立承包商、供應商、子公司和合作公司免受任何索賠、損失、費用或責任，包括律師、調查人員和專家（或類似）的費用、支出和費用產生於：（i）您使用或無法連接使用的服務，或（ii）您提交的任何資訊或使用您的帳戶的任何內容，包括但不限於該內容可能侵犯的第三方的知識產權或其他權利的非法或違法。</p>
      <p>本公司保留任何其他關於您賠償事宜的獨立辯護和控制的權利，費用由本公司自行處理。無論在何種情況下，您不能在沒有公司書面同意的情況下，解決任何索賠或爭端事宜。</p>
    </li>
    <li>
      <h2>適用法律</h2>
      <p>除非另有明文規定，本協議須受香港特別行政區的法律管限及解釋，而不考慮法律適用原則。任何必要的仲裁將於香港進行，並受香港法律管制。</p>
    </li>
    <li>
      <h2>特別促銷</h2>
      <p>公司可隨時給用戶提供一定的促銷機會、抽獎和比賽。所有這些優惠將由公司自行決定，並可以在任何時候由公司啟動、修改或刪除，無需預先通知。公司的客戶、抽獎和比賽應當遵守這些條款服務。</p>
    </li>
    <li>
      <h2>無代理機構</h2>
      <p>協定沒有規定代理機構、客戶關係、合資、僱用或特許經營關係。</p>
    </li>
    <li>
      <h2>總則</h2>
      <p>本公司違反本協議的任何規定不得解釋為放棄任何條款或權利。本協定是您與本公司之間的完整協議。如果本協議的任何條款被認定為無效或不可執行，其餘條款將被強制執行，其餘條款將在最大程度上仍然具有十足效力及作用。本協議的生效代表公司、其繼承人和受讓人的利益。</p>
    </li>
    <li>
      <h2>修改本協定及服務</h2>
      <p>公司保留對其進行更改、修改、增加、補充或刪除本協議的任何條款和細則（包括隱私政策），並檢討、改進、修改、暫時或永久停止，在任何時間修改服務或內容或資訊的唯一及絕對酌情權。該修改的生效恕不另行通知，並且公司不負任何責任。公司將努力透過電子郵件通知您這些修改變化，但不會承擔任何未能這樣做的後果。如果本協議未來發生的變化是您不能接受的，或使您無法遵守本協議，您必須終止該協議（以書面通知的形式），並立即停止使用本服務。在檢討了合約的改變後，如果您繼續使用，那麼意味您完全、不可撤回地接受了所有的修改。本公司可能會隨時改變、修改、取消或停止服務的某一部分。該變化恕不另行通知。本公司也不為此負責任。公司還可以限制或限制您訪問某些功能或部分。</p>
      <p>該變化恕不另行通知。本公司也不為此負責任。</p>
      <p>本人謹此確認，本人已閱讀並理解上述有關服務、隱私政策和市場準則之條款，並同意本人使用本服務乃相當於確認遵守本協議之條款和細則。</p>
      <p>以上協議之條款和細則，如有爭議，以英文版本作準。</p>
    </li>
  </ol>
</section>

      <footer id="footer">
        <div class="container">
          <div class="row">
            <div class="footer-ribbon">
              <span>Get in Touch</span>
            </div>
            <div class="col-md-6">
              <h4 class="heading-primary">About GoGENIE</h4>
              <p>GoGENIE combats the headache of hiring temporary workers. Our mobile app provides a platform for employers to post and hire a temporary worker in as fast as 5 minutes. GoGENIE eliminates market inefficiency and offers businesses quality temporary workers.  Our vision at GoGENIE is to become the global platform for all work placements where employers and job seekers can hire or work for anyone, anywhere, any time. </p>

              <hr class="light">

              <div class="contact-details">
                <ul class="contact">
                  <li><p><i class="fa fa-map-marker"></i> <strong>Address:</strong> 1238 International Building, 175 Hoi Bun Road, Kwun Tong, Hong Kong</p></li>
                  <li><p><i class="fa fa-phone"></i> <strong>Phone:</strong> (852) 9020-3906</p></li>
                  <li><p><i class="fa fa-envelope"></i> <strong>Email:</strong> <a href="mailto:cs@gogenieapp.com">cs@gogenieapp.com</a></p></li>
                </ul>
              </div>
              <br>
              <h4 class="mb-none">Follow Us</h4>
              <br>
              <ul class="header-social-icons social-icons">
                <li class="social-icons-facebook"><a href="https://www.facebook.com/gogenieapp" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li class="social-icons-twitter"><a href="https://twitter.com/gogenieapp" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li class="social-icons-linkedin"><a href="https://www.linkedin.com/company/gogenieapp" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li class="social-icons-instagram"><a href="https://www.instagram.com/gogenieapp/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                <li class="social-icons-google"><a href="https://plus.google.com/+Gogenieapp/" target="_blank" title="Google"><i class="fa fa-google"></i></a></li>
                <li class="social-icons-pinterest"><a href="https://www.pinterest.com/gogenieapp/" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <h4 class="mb-none">Contact Us</h4>
              <p>Contact us or give us a call to discover how we can help.</p>
              <form id="contactForm" action="MAILTO:cs@gogenieapp.com" method="POST">
                <input type="hidden" value="Contact Form" name="subject" id="subject">
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-6">
                      <label>Your name *</label>
                      <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name" required>
                    </div>
                    <div class="col-md-6">
                      <label>Your email address *</label>
                      <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email" required>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="form-group">
                    <div class="col-md-12">
                      <label>Message *</label>
                      <textarea maxlength="5000" data-msg-required="Please enter your message." rows="2" class="form-control" name="message" id="message" required></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <input type="submit" value="Send Message" class="btn btn-primary mb-xl" data-loading-text="Loading...">
                  </div>
                  <div class="col-md-8">
                    <div class="alert alert-success hidden" id="contactSuccess">
                      Message has been sent to us.
                    </div>

                    <div class="alert alert-danger hidden" id="contactError">
                      Error sending your message.
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-1">
                <a href="index.html" class="logo">
                  <img alt="Porto Website Template" class="img-responsive" src="img/genie/genie-logo-footer_eng.png">
                </a>
              </div>
              <div class="col-md-7">
                <p>© 2016 CRAMCLUB COMPANY LIMITED. All Rights Reserved.</p>
              </div>
              <div class="col-md-4">
                <nav id="sub-menu">
                  <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Terms & Condition</a></li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <!-- Vendor -->
    <!--[if lt IE 9]>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script src="vendor/jquery/jquery.js"></script>
    <!--<![endif]-->
    <script src="vendor/jquery.appear/jquery.appear.js"></script>
    <script src="vendor/jquery.easing/jquery.easing.js"></script>
    <script src="vendor/jquery-cookie/jquery-cookie.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.js"></script>
    <script src="vendor/common/common.js"></script>
    <script src="vendor/jquery.validation/jquery.validation.js"></script>
    <script src="vendor/jquery.stellar/jquery.stellar.js"></script>
    <script src="vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="vendor/jquery.gmap/jquery.gmap.js"></script>
    <script src="vendor/jquery.lazyload/jquery.lazyload.js"></script>
    <script src="vendor/isotope/jquery.isotope.js"></script>
    <script src="vendor/owl.carousel/owl.carousel.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="vendor/vide/vide.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="js/theme.js"></script>

    <!-- Specific Page Vendor and Views -->
    <script src="vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.actions.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.carousel.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.migration.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.navigation.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.parallax.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="vendor/rs-plugin/js/extensions/revolution.extension.video.min.js"></script>

    <script src="vendor/circle-flip-slideshow/js/jquery.flipshow.js"></script>
    <script src="js/views/view.home.js"></script>

    <!-- Theme Custom -->
    <script src="js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="js/theme.init.js"></script>

    <!-- Google Analytics: Change UA-XXXXX-X to be your site's ID. Go to http://www.google.com/analytics/ for more information. -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-64263788-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>


  </body>
</html>